[2019-08-02 12:26] elasticmachine opened #113 "[Agent] Reporting failures"
*Original comment by @michalpristas:*

At the moment the process is as follows using `grpc`

0. Beat uses `manager.Register` call to register settings it know how to handle.
1. configuration is read/detected by agent which processes it and send to specific beat
2. Beat retrieves configuration via `Config(string)` endpoint and tries to parse it
3. Beat sends parsed configuration (in form of `map[st

[2019-10-17 13:14] elasticmachine opened #134 "[Agent] How we could reduce the need for root privileges for beats."
*Original comment by @ph:*

The Agent starts the beats process with the same user as the agent process which means **root**. This is less than ideal if we want to lock down the process and reduce the risk.

TODO:
Define stories

- Behavior of Metricbeat
- Behavior of Auditbeat
- Behavior of Packetbeat.

[2019-11-25 16:41] urso opened #133 "Investigate FIPS compliance using boring crypto"
Beats uses crypto modules for the local keystore (store password and other credentials), TLS in the outputs, but also TLS support in some push based inputs (HTTP serer, syslog server).

The go stdlib crypto libraries are not FIPS compliant. Related: https://github.com/golang/go/issues/21734

As different crypto libs might provide different ciphers and such, it possible if we could switch the used

[2020-02-12 16:32] ph opened #157 "[Agent] Configuration validations on Fleet and Agent side"
We allow people to see and edit the configuration in Fleet, it might be a good idea to share validations or at least high-level validations with the expected fields like ids, type and metricset. This can be also useful for communicating with other teams.

We have created an [example configuration](https://github.com/elastic/beats/pull/15940) but this is not enough to express what we are expecting.

[2020-03-02 20:52] ph opened #132 "[Agent] Remove dependencies on errwrap and go-multierror"
In the Agent code we are using `errwrap` and `go-multierror`, theses dependencies are not necessary and we should remove them.

[2020-03-24 12:56] ph opened #131 "[Agent] Provide sane default all the times and ensure overrides -E works as expected."
Revisit all the defaults, we should be able to run Fleet without having a physical configuration on disk and we should be able to override the path.* using -E like any other beats.

[2020-07-09 20:57] andrewvc opened #130 "[Agent] Add geo metadata to agents on enrollement"

[2020-07-23 15:03] kvch opened #129 "[Elastic Agent] Overwrite global processor settings"
At the moment the logs of Filebeat started by the Agent is polluted with the debug logs of the `add_docker_metadata` processor. Example log line:
[code]

As I am not trying to test anything Docker related, these lines are distracting. Normally I just remove all processors when debugging Filebeat issues. However, as the Agent manages the configuration of these Filebeat instances, I do not have acce

[2020-07-30 12:17] mtojek opened #128 "[Elastic-Agent] [Docker] Discuss: accessing logs from different container"

[2020-08-11 15:21] mdelapenya opened #127 "[Ingest Manager] elastic-agent process is not properly terminated after restart"

[2020-09-10 14:49] ph opened #126 "[Elastic-Agent] Replace Agent's hasKey with EQL's some.field != null"

[2020-09-16 13:51] jamiesmith opened #125 "Add a way to unenroll an Elastic Agent from the client side"
**Describe the enhancement:**

Currently there's no way to unenroll an elastic-agent from the client side

**Describe a specific use case for the enhancement or feature:**

When running ephemeral instances (containers, for example) each can enroll, but when the container is stopped we end up with stranded offline instances in fleet, which then takes two commands per host on the Fleet screen (unenr

[2020-09-17 13:35] blakerouse opened #124 "[Elastic Agent] Look into reducing the docker provider add_fields data"

[2020-09-17 17:47] blakerouse opened #123 "[Elastic Agent] Add ability to debug a composable provider"
## Overview

To help support dynamic inputs elastic/beats#19225 Elastic Agent needs to add the ability to debug the providers using for variable substitution. This issue is to track the debugging effort, for information about variable substitution review elastic/beats#20781

## Debugging

This obviously adds a lot of confusion to what the resulting configuration that Elastic Agent will be running

[2020-09-28 06:35] ruflin opened #122 "[Discuss][Elastic Agent] Deprecation logs for Elastic Agent"
Elastic Stack products will start to ship deprecation logs to a specific index based on the new indexing strategy. Elastic Agent should do the same and ship deprecation logs to `logs-deprecation.elastic.agent-*`. It should be also discussed how and where the deprecation logs of the processes are shipped.

[2020-09-30 11:50] ph opened #121 "[Elastic Agent] Improve "when" handling in the program specification."
When we created the "when" clause we were under the impression that all the beats were actually equal and supported all the same outputs. This was not completely true, APM-Server supports a subset of the output that beats supports, they do not support redis.

Maybe we should just move to the conditions and rely on [capabilities](https://github.com/elastic/beats/issues/21096)

We should improve the

[2020-10-19 18:59] fearful-symmetry opened #295 "Elastic-agent deletes tarballs on `run`"
For confirmed bugs, please report:
- Version: 8.0.0
- Operating System: Fedora Linux using the tarball install
- Discuss Forum URL:
- Steps to Reproduce:
  - Download and build master
  - in `x-pack/elastic-agent` run `mage package`
  - unpack the tarball
  - Run `./elastic-agent enroll` using the key you get from the Kibana UI
  - Run `./elastic-agent run`

After that, I'm seeing this error:
[cod

[2020-11-03 19:19] nchaulet opened #120 "[Fleet] Improve status reporting for Agents"
## Description

Currently we report a very basic status during checkin.
To allow us to give users more details on the status of their agents we want to send more complete policy status (Format is defined here https://github.com/elastic/kibana/issues/82298)

The status will be send during agent checkin:
* This will allow Fleet Kibana (and Fleet Server in the future) to update the agent saved object

[2020-11-11 18:55] EricDavisX opened #293 "[Fleet] Agent fails when host disk space is full, need better support"
A user brought this to us and I am logging a quick ticket to capture minimal details.

Apparently the Agent failed to install metricbeat, due to a lack of disk space.

It wasn't clear immediately, but some subsequent log diving shows the reason:

`/var/lib/elastic-agent/logs/elastic-agent-json.log.2:{"log.level":"error","@timestamp":"2020-11-11T11:13:12.997-0500","log.origin":{"file.name":"log/rep

[2020-11-20 10:03] kuisathaverat opened #119 "[Elastic Agent] Endpoint for metrics/healthcheck"
**Describe the enhancement:**

All the beats have a setting to start an endpoint where you can check the stats, these are useful to monitor the internal state of the Beat. This feature can export an HTTP port, an unix socket, or a named pipe.

**Scenario:** Listen for basic request
  **Given** An Elastic Agent enrolled in a Kibana instance
  **And** you start the Elastic Agent with the option `-E

[2020-11-24 16:15] ThorbenJ opened #118 "Elastic-Agent: Do not output to STDERR under powershell, unless you want PS to fail execution as an error"
- What: elastic-agent.exe
 - Version: 7.10.0 (but all previous too)
 - OS: Windows 10 (as of 2020-11-24)

Problem:

In certain execution contexts PowerShell will convert any line of text sent to STDERR into an Error object. This will no doubt go unhandled thus the commend is failed by powershell:

[code]

Google "PS NativeCommandError" to discover all the happy people that trip over this error.

S

[2020-12-03 17:15] psanz-estc opened #117 "Fleet installation script fails to detect error in service start"
**Description**
`elastic-agent install` fails to detect a problem in service start and report misleading message: `Installation was successful and Elastic Agent is running`, even though service hasn't been able to start (ie: due to a process already binded in port 6789)

Script should at least notify that agent was installed but there was a problem starting the service.

**How to reproduce the bug

[2020-12-04 10:48] simitt opened #116 "[elastic-agent] support resource limitations on child processes"
**Summary**

When the elastic agent installs a new input, it starts a new process or restarts an existing process with additional input  configuration. The agent does not apply any resource limits to the created subprocesses, potentially leading to the processes competing for available resources. This can become an issue when multiple processes run with high load, reaching the limit of available r

[2021-01-11 14:24] mtojek opened #302 "Elastic-Agent Docker: silent standard output"
Hi,

I was researching different ways of enabling verbose logging in Elastic Agent in terms of https://github.com/elastic/elastic-package/issues/86 . I'd like to collect Elastic-Agent and subprocesses logs at some folder (which can be mounted and exposed externally).

Then, I came up to a different conclusion: the standard log output of Elastic Agent is silent even though the application is runnin

[2021-01-22 10:22] m-adams opened #303 "Improve handling of Agent Install / Enroll if already (previously) installed"
**Describe the feature:**

When you run the enrolment command on Elastic Agent on a host where it has already been installed it terminates and you get the following error (on Mac at least)
"Error: already installed at: /Library/Elastic/Agent"
To continue, you then need to work out how to uninstall agent and then re-run the command.
It is likely with people doing initial testing will try and enrol

[2021-02-04 10:05] simitt opened #320 "[Elastic Agent] No ES output validation can lead to stopped sub processes and no logs"
The `Fleet settings` UI allows for setting all kind of values in the `Elasticsearch output configuration`. There is no validation, allowing for any kind of input.

## Observed behavior:
* Setting `enabled: false`: the Elastic Agent kills the sub processes and only logs that it stoped the sub processes. No indicator why they are stopped, no additional entries in the sub process logs.
* Using wrong

[2021-02-10 15:50] narph opened #296 "Documentation calls for "elastic-agent" but the service name installed is "Elastic Agent""
When checking docs for windows installation of the elastic agent, for both `start` and `stop` cmds for Windows check for `elastic-agent` service.
https://www.elastic.co/guide/en/fleet/current/start-elastic-agent.html
https://www.elastic.co/guide/en/fleet/current/stop-elastic-agent.html

If all the steps from the doc have been followed during installation the name of the service will be `Elastic Ag

[2021-02-10 18:48] mukeshelastic opened #304 "Retrieving integration configuration for auto-discovered inputs on kubernetes"
**Describe the enhancement:**
With beats, the configuration was available to metricbeat and filebeat locally on host but with agent and packages we moved the configuration definition in package registry.  So when Kubernetest discovers that pod runs a software that we monitor, either through dynamic inputs conditionals in agent config or via hints based discovery, agent needs to download the integr

[2021-04-01 19:30] ph opened #290 "Refactor: Use the capabilities to defined if an Agent is upgradable or not"
Today we can use https://github.com/elastic/beats/blob/64f70785c0911eeb6f3f6ce5264f61544844ca0f/x-pack/elastic-agent/pkg/agent/application/upgrade/upgrade.go#L78 to define if a release is upgradable or not. We have added the concept of **capabilties** in https://github.com/elastic/beats/pull/23848

We should if to the **capabitilies** files, it could look like this:

[code]

@ruflin  @mostlyjason

[2021-04-08 12:32] urso opened #300 "Agent per process Metrics document standardization"

[2021-04-26 09:09] ruflin opened #115 "[Elastic Agent] Debug fleet-server connectivity"
The Elastic Agent must connect to the fleet-server for enrollement. There are several issues that can happen around the connectivity to fleet-server. If the enrollment doesn't work, it would be nice to have a command line tool to investigate on what the actual issue is. Things like: certificate issue, port not open, host not reachable, wrong token etc.

This idea was triggered by issues like this

[2021-04-28 10:52] ruflin opened #114 "Implement a sub-command to show or follow the Elastic Agent logs"
Debugging Elastic Agent is currently not as easy as it should be. In case of issue, the right paths for the logs have to be found and read one by one. It would be very convenient if elastic agent would offer a command to get the logs and metrics.

To tail all the logs, something like the following would be useful:

[code]

Maybe later support for filtering logs from only a specific process could b

[2021-04-28 18:14] weberr13 opened #291 "[elastic-agent] Support a "Shutdown" or "Stop" command in addition to Restart"
Currently I am developing a non-interactive installation of the elastic agent for multiple platforms and would like to be able to run "elastic-agent run ...args..." from my application.  I am able to do so but since it is not installed as a service I can only send Terminate signals in windows to shut it down (because windows, of course doesn't have proper signal handling).  (Unix/Macos I can just

[2021-04-29 06:18] ruflin opened #299 "[elastic-agent] Discuss: Default port for fleet-server when no port defined"

[2021-05-03 19:28] ruflin opened #154 "[Elastic Agent] Improve error logging (reduce to Info Level where possible) wrt changing logging level to debug"
* Version: 7.13.0-SNAPSHOT
* Environment: Docker

The Elastic Agent was running for a few minutes and I changed the logging level in the Fleet UI from `Info` to `Debug`. This all seems to have worked but the first we lines that were logged, looked as following:

[code]

I stumbled over the two `ERROR` log entries related to context which also contain very little "context" what it is about.

[2021-05-03 19:28] ruflin opened #158 "[Elastic Agent] Improve error logging (reduce to Info Level where possible) wrt changing logging level to debug"
* Version: 7.13.0-SNAPSHOT
* Environment: Docker

The Elastic Agent was running for a few minutes and I changed the logging level in the Fleet UI from `Info` to `Debug`. This all seems to have worked but the first we lines that were logged, looked as following:

[code]

I stumbled over the two `ERROR` log entries related to context which also contain very little "context" what it is about.

[2021-05-03 19:34] bjmcnic opened #292 "[Elastic Agent] Failed Endpoint installation retry loop"
In situations where the Elastic Endpoint Security integration installation fails to successfully install, Agent appears to continuously retry the installation. It's not clear whether there is a limitation or cap on the retries, but there does not appear to be.  This results in unnecessary resource utilization, including filling up the `elastic-agent.log` file.

Details:
- Version:  7.12.1 (at leas

[2021-06-08 13:35] EricDavisX opened #294 "[Agent] Testing & Support running of Elastic Agent from a network shared drive"
**Describe the enhancement:**
Users may want to protect and observe their network shared drives, so we could support it.

It is currently not recommended to use.  We have no automated tests to verify it works and have anecdotal (but old) data that indicates (at least) Filebeat would have a problem running there.  no specifics further available at the time (testing would be required to generate exa

[2021-06-15 12:35] ruflin opened #153 "[Elastic Agent][Discuss] elastic-agent.yml overwrite needed?"
Today when the Elastic Agent is enrolled into Fleet the elastic-agent.yml file is backed up and state is written into the elastic-agent.yml file that the agent is managed. In addition, the Agent writes fleet.yml with more data. On startup, the elastic-agent.yml is checked to see if the agent is enrolled. This caused some issues in Cloud initially because it was overwritten.

This issue is to have

[2021-06-15 12:35] ruflin opened #155 "[Elastic Agent][Discuss] elastic-agent.yml overwrite needed?"

[2021-06-15 12:35] ruflin opened #156 "[Elastic Agent][Discuss] elastic-agent.yml overwrite needed?"
Today when the Elastic Agent is enrolled into Fleet the elastic-agent.yml file is backed up and state is written into the elastic-agent.yml file that the agent is managed. In addition, the Agent writes fleet.yml with more data. On startup, the elastic-agent.yml is checked to see if the agent is enrolled. This caused some issues in Cloud initially because it was overwritten.

This issue is to have

[2021-06-15 12:35] ruflin opened #159 "[Elastic Agent][Discuss] elastic-agent.yml overwrite needed?"
Today when the Elastic Agent is enrolled into Fleet the elastic-agent.yml file is backed up and state is written into the elastic-agent.yml file that the agent is managed. In addition, the Agent writes fleet.yml with more data. On startup, the elastic-agent.yml is checked to see if the agent is enrolled. This caused some issues in Cloud initially because it was overwritten.

This issue is to have

[2021-06-15 12:35] ruflin opened #177 "[Elastic Agent][Discuss] elastic-agent.yml overwrite needed?"
Today when the Elastic Agent is enrolled into Fleet the elastic-agent.yml file is backed up and state is written into the elastic-agent.yml file that the agent is managed. In addition, the Agent writes fleet.yml with more data. On startup, the elastic-agent.yml is checked to see if the agent is enrolled. This caused some issues in Cloud initially because it was overwritten.

This issue is to have

[2021-06-15 17:44] nimarezainia opened #152 "[Elastic Agent] Support Kafka as an output for elastic agent"
**Describe the enhancement:**
Bringing the Elastic Agent more in line with outputs supported by Beats.

**Describe a specific use case for the enhancement or feature:**

Enable customers who are using beats to send events/logs to a Kafka broker to be able to create the same environment and functionality using the Elastic Agent. Lack of this capability may be an inhibitor for the adoption of Elasti

[2021-06-15 17:44] nimarezainia opened #160 "[Elastic Agent] Support Kafka as an output for elastic agent"
**Describe the enhancement:**
Bringing the Elastic Agent more in line with outputs supported by Beats.

**Describe a specific use case for the enhancement or feature:**

Enable customers who are using beats to send events/logs to a Kafka broker to be able to create the same environment and functionality using the Elastic Agent. Lack of this capability may be an inhibitor for the adoption of Elasti

[2021-06-21 20:00] ph opened #151 "[Meta] Mac M1 Support"

[2021-06-23 23:12] jen-huang opened #2156 "[Elastic Agent] Report running processes and their health statuses"
This is related to https://github.com/elastic/kibana/issues/75236 and https://github.com/elastic/kibana/issues/99068, both of which are longer-term efforts around enabling more granular status reporting of "integrations" that are running on Elastic Agent. But Agent has no concept of integrations, only which inputs/processes are running.

Still, reporting that information is useful and would get us

[2021-07-01 22:16] nimarezainia opened #213 "Update release manager with the M1 artifact"
**Describe the enhancement:**

- [x] Add m1 artifact to the release manager code
- [x] Allow artifacts to be uploaded to the website. (require synchronization with the marketing team)
- [x] Add m1 artifact to be signed

**Describe a specific use case for the enhancement or feature:**

Relates: https://github.com/elastic/elastic-agent/issues/151

[2021-07-12 14:22] mostlyjason opened #301 "[Elastic Agent] Remove agent.type field so it doesn't leak Beats details"
The `agent.type` used by Elastic Agent currently leaks details about the underlying Beats. With my 7.13 agent, it's set to "filebeat" for logs and "metricbeat" for metrics. We don't want to create a user dependency on this Beats information because it may be refactored out in the future.

The solution for now is to not populate it and later add it. The reason for this is that not in all scenarios

[2021-07-29 21:20] EricDavisX opened #150 "Elastic Agent non-Windows host - Agent doesn't finish installing until after re-starting the service"
Hi this is a spawn off of testing done in support of
https://github.com/elastic/beats/pull/26665
 - testing done with 7.14 BC4 Agent and Cloud based stack

I'm transferring this issue from the Endpoint team, to Beats / Agent.

From @dikshachauhan-qasource : we have attempted to validate the endpoint behavior on French VM machines and found it working fine with a small glitch.

Observations:
Scenar

[2021-07-29 21:20] EricDavisX opened #176 "Elastic Agent non-Windows host - Agent doesn't finish installing until after re-starting the service"
Hi this is a spawn off of testing done in support of
https://github.com/elastic/beats/pull/26665
 - testing done with 7.14 BC4 Agent and Cloud based stack

I'm transferring this issue from the Endpoint team, to Beats / Agent.

From @dikshachauhan-qasource : we have attempted to validate the endpoint behavior on French VM machines and found it working fine with a small glitch.

Observations:
Scenar

[2021-08-25 06:27] amolnater-qasource opened #4495 "[SLES 15]: No "system.auth" logs for system integration under Data Streams tab for SLES 15 linux agent."
**Kibana version:** 7.15.0 BC-2 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 BC-2 Kibana cloud environment should be available.
2. An SLES 15 linux agent must be installed with Default policy having System integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Data Streams tab.
3. Select `

[2021-09-02 13:51] mohsen0 opened #149 "[Agent] Setting Tags at enrollment and installation"
Ability to set tags during installation and enrolment agent
so that different identical deployments of service can be differentiated in the dataset

The specific use case is described in: https://discuss.elastic.co/t/fleet-managed-elastic-agent-environment-deployment-name-custom-field/282565/6

[code]
or in case, the agent is already installed via package manager
[code]

[2021-09-02 13:51] mohsen0 opened #175 "[Agent] Setting Tags at enrolment and installation"

[2021-09-06 09:42] amolnater-qasource opened #148 "[Agent-Upgrade]: For Linux .tar deploy; Agent goes Unhealthy on upgrade with Endpoint Security"
**Kibana version:**  7.15.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:** VSphere Ubuntu ~and MAC~, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 Snapshot Kibana Cloud environment should be available.
2. 7.14.1 released Agent must be installed with Default policy having System and Endpoint Security integration.

**Steps to reproduce:**
1. Login to Kibana enviro

[2021-09-06 09:42] amolnater-qasource opened #170 "[Agent-Upgrade]: For Linux .tar deploy; Agent goes Unhealthy on upgrade with Endpoint Security"
**Kibana version:**  7.15.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:** VSphere Ubuntu ~and MAC~, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 Snapshot Kibana Cloud environment should be available.
2. 7.14.1 released Agent must be installed with Default policy having System and Endpoint Security integration.

**Steps to reproduce:**
1. Login to Kibana enviro

[2021-09-06 09:42] amolnater-qasource opened #173 "[Agent-Upgrade]: For Linux .tar deploy; Agent goes Unhealthy on upgrade with Endpoint Security"
**Kibana version:**  7.15.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:** VSphere Ubuntu ~and MAC~, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 Snapshot Kibana Cloud environment should be available.
2. 7.14.1 released Agent must be installed with Default policy having System and Endpoint Security integration.

**Steps to reproduce:**
1. Login to Kibana enviro

[2021-09-14 13:12] andrewvc opened #147 "[Agent] Minimizing Elastic-Agent privileges"

[2021-09-14 13:12] andrewvc opened #174 "[Agent] Minimizing Elastic-Agent privileges"
Action plan after meeting today with @blakerouse @fntlnz and @justinkambic

There are three use cases for elastic-agent with different security requirements, where we can have three different behaviors.

For docker containers specifically, we need a clear path to running as non-root for two reasons:

1. It will be flagged by many orgs as insecure,
2. Some software (synthetics) cannot run as root,

[2021-09-28 13:52] ferullo opened #146 "Agent should start the endpoint service if it isn't running"
When Endpoint Security integrations is enabled, if the endpoint service is not running on a computer Agent should periodically attempt to start it.

[2021-09-28 16:00] stuartnelson3 opened #145 "[elastic-agent] managed apm-server doesn't know its elasticsearch cluster_uuid"
When apm-server is managed by elastic-agent, it doesn't know its elasticsearch cluster_uuid, which is necessary for being properly displayed in the stack monitoring ui.

- Version: 7.15
- Operating System: Ubuntu 21.06
- Steps to Reproduce:
1. Start elastic-agent with a config that spawns apm-server
2. Check the `/state` endpoint on the apm-server:
[code]
Compare that to a standalone apm-server:

[2021-10-01 08:52] mtojek opened #144 "Flaky: policy is never assigned to agent"
Hi Team,

it happens from time to time and I suppose we have already fixed a similar issue: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/913/pipeline/ (docker integration)

Logs and metrics are in the "Artifacts" tab.

If you need internal filebeat and metricbeat logs of Elastic Agent, let me know and I will tell you how to access them (stored

[2021-10-01 08:52] mtojek opened #161 "Flaky: policy is never assigned to agent"
Hi Team,

it happens from time to time and I suppose we have already fixed a similar issue: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/913/pipeline/ (docker integration)

Logs and metrics are in the "Artifacts" tab.

If you need internal filebeat and metricbeat logs of Elastic Agent, let me know and I will tell you how to access them (stored

[2021-10-01 08:52] mtojek opened #162 "Flaky: policy is never assigned to agent"
Hi Team,

it happens from time to time and I suppose we have already fixed a similar issue: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/913/pipeline/ (docker integration)

Logs and metrics are in the "Artifacts" tab.

If you need internal filebeat and metricbeat logs of Elastic Agent, let me know and I will tell you how to access them (stored

[2021-10-01 08:52] mtojek opened #164 "Flaky: policy is never assigned to agent"
Hi Team,

it happens from time to time and I suppose we have already fixed a similar issue: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/913/pipeline/ (docker integration)

Logs and metrics are in the "Artifacts" tab.

If you need internal filebeat and metricbeat logs of Elastic Agent, let me know and I will tell you how to access them (stored

[2021-10-01 08:52] mtojek opened #165 "Flaky: policy is never assigned to agent"
Hi Team,

it happens from time to time and I suppose we have already fixed a similar issue: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/913/pipeline/ (docker integration)

Logs and metrics are in the "Artifacts" tab.

If you need internal filebeat and metricbeat logs of Elastic Agent, let me know and I will tell you how to access them (stored

[2021-10-01 08:52] mtojek opened #166 "Flaky: policy is never assigned to agent"
Hi Team,

it happens from time to time and I suppose we have already fixed a similar issue: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/913/pipeline/ (docker integration)

Logs and metrics are in the "Artifacts" tab.

If you need internal filebeat and metricbeat logs of Elastic Agent, let me know and I will tell you how to access them (stored

[2021-10-01 08:52] mtojek opened #167 "Flaky: policy is never assigned to agent"
Hi Team,

it happens from time to time and I suppose we have already fixed a similar issue: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/913/pipeline/ (docker integration)

Logs and metrics are in the "Artifacts" tab.

If you need internal filebeat and metricbeat logs of Elastic Agent, let me know and I will tell you how to access them (stored

[2021-10-01 08:52] mtojek opened #168 "Flaky: policy is never assigned to agent"
Hi Team,

it happens from time to time and I suppose we have already fixed a similar issue: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/913/pipeline/ (docker integration)

Logs and metrics are in the "Artifacts" tab.

If you need internal filebeat and metricbeat logs of Elastic Agent, let me know and I will tell you how to access them (stored

[2021-10-01 08:52] mtojek opened #169 "Flaky: policy is never assigned to agent"
Hi Team,

it happens from time to time and I suppose we have already fixed a similar issue: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/913/pipeline/ (docker integration)

Logs and metrics are in the "Artifacts" tab.

If you need internal filebeat and metricbeat logs of Elastic Agent, let me know and I will tell you how to access them (stored

[2021-10-01 08:52] mtojek opened #171 "Flaky: policy is never assigned to agent"
Hi Team,

it happens from time to time and I suppose we have already fixed a similar issue: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/913/pipeline/ (docker integration)

Logs and metrics are in the "Artifacts" tab.

If you need internal filebeat and metricbeat logs of Elastic Agent, let me know and I will tell you how to access them (stored

[2021-10-01 08:52] mtojek opened #172 "Flaky: policy is never assigned to agent"
Hi Team,

it happens from time to time and I suppose we have already fixed a similar issue: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/913/pipeline/ (docker integration)

Logs and metrics are in the "Artifacts" tab.

If you need internal filebeat and metricbeat logs of Elastic Agent, let me know and I will tell you how to access them (stored

[2021-10-13 11:24] mtojek opened #143 "Fleet managed: enable debug mode"
Hi Team,

while investigating the root cause of https://github.com/elastic/integrations/issues/1566 , we confirmed that's really useful to enable debug logs for filebeat and metricbeat running as Docker containers (under CI). The ideal option would involve an extra property in policy to enable debug logging or at least a special Docker image ENV which can be hardcoded in system tests.

[2021-10-13 14:05] mtojek opened #142 "Discuss: upgrade failed and agents can't connect to the Fleet Server or Elasticsearch"
Hi,

this is rather a discuss issue. We're trying to find an answer/describe a solution to the following problem:

As you may guess it's all about **automatic recovery process** or self-healing.

[2021-10-20 01:29] ajoliveira opened #141 "Support RPM install better with custom --prefix option."
**Describe the enhancement:**
For comparison, the Elasticsearch RPM file allows relocation of the `/usr` directory ONLY.

RPM supports the use of a '--prefix' flag (ex: `--prefix=/opt`) to change the installation path of files listed in the matching directory (if allowed).  For example, the following rpm command output - ex: Relocations:
[code]

In the case of metricbeat, the 3 top level directori

[2021-10-26 14:55] aarju opened #140 "[Bug] When migrating an elastic agent from one fleet server to another the Endpoint Security still sent logs to the old one"

[2021-10-28 18:15] fearful-symmetry opened #163 "Elastic-agent must be able to manage global variables within a beat"
CC @ruflin @jen-huang @joshdover @jlind23 @masci

# What's this about?

This is a result of me trying to deal with the bug in https://github.com/elastic/beats/pull/28546, where the problem stems for an inability to manage the global `hostfs` from within fleet.  I'm going to be summarizing from an email thread a bit here.

Right now, we have we have no real way for a user to set and update global v

[2021-11-09 08:42] amolnater-qasource opened #139 "[MAC-12 Agent]: Agent goes to offline state for more than 5 minutes and then gets back healthy when installed with `--delay-enroll`"
**Kibana version:**  7.16.0 BC-3 Kibana Cloud environment

**Host OS and Browser version:**  MAC, All

**Build details:**
[code]

**Preconditions:**
1.  7.16.0 BC-3 Kibana Cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Run Agent install command for MAC agent with `--delay-enroll` flag.
3. Reboot your mac machine.
4. After reboot, Agent appears `H

[2021-11-12 14:39] jguay opened #138 "Support for custom fields in fleet integrations"
**Describe the enhancement:**
Currently as off 7.15, it is not supported for fleet integrations (beside custom logs) to customize ingest pipelines per [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/7.15/ingest.html#pipelines-for-fleet-elastic-agent)
Also using [logstash output](https://www.elastic.co/guide/en/fleet/7.15/logstash-output.html) is only supported with standalo

[2021-11-15 13:38] aarju opened #137 "Enable download of Elastic Agent directly from the fleet server"
**Describe the enhancement:**
Provide a an API endpoint on the Fleet server where the appropriate versions of elastic agent can be directly downloaded. This URL should be static between Fleet versions so agent deployment scripts do not have to be updated every time the Elastic Stack is updated.

Example:
`GET https://fleetserver:443/api/fleet/installers` to retrieve a list of available installers

[2021-11-18 08:27] joeafari opened #136 "[Elastic Agent] To adhere to a Proxy Auto Configuration (PAC) file installed on the same host"
**Describe the enhancement:**
A lot of organizations would need their traffic to be sent to a proxy (say for security reasons). These users install PAC files that determine where to proxy to for a given url destination. Currently the Elastic Agent doesn't adhere to proxy URL set in a PAC file - it can read the proxy if set as an environment variable or passed in as an option when agent is being en

[2021-11-22 16:56] CruzMarcio opened #135 "Proxy URL option in elastic agent should be able to filter which requests"
Our current environment is air gapped and proxy is needed to go to the internet, the elastic agent needs to talk to 3 endpoints:
 - Elasticsearch
 - Fleet server
 - Artifacts.elastic.co

On our environment the Elasticsearch and fleet server are internal and a proxy is not needed but artifacts is outside so a proxy is needed. What I noticed when configuring the proxy in the fleet.yml file is that i

[2021-11-24 13:52] ruflin opened #112 "[Elastic Agent] Read out apm data for diagnostics purpose"

[2021-11-24 15:02] juliaElastic opened #111 "Accommodate enrollment-api-keys API change in kibana fleet API"

[2021-12-01 21:56] ferullo opened #110 "[BUG] Unable to directly uninstall Agent installed with (possibly) invalid `--proxy-url`"
I reproduced this with 7.14.0 and 7.16.0.

**Step 1**: Start a proxy. I used https://pypi.org/project/proxy.py/ and ran `proxy --port 1234 --hostname 127.0.0.1 --log-level d`
The proxy is not truly needed, I didn't install any firewall rules or anything.

**Step 2**: Install/enroll Agent with `--proxy-url`
Notably, Agent does seem to enroll through the proxy. It appears in Fleet in an UPDATING sta

[2021-12-02 06:08] hanxinhisen opened #109 "v7.14.1 on macos error yaml file"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2021-12-02 12:02] mreinders opened #108 "Elastic Agent not configured with environment variables"
Within the filebeat operator, we can use evironment variables to extend information on the container. With this option, we can set the container to immutable to prevent users from changing the agent configuration. For example:

tags: [container,${TAGS:unassigned}]

We are trying to introduce the new Elastic Agent on kubernetes and want to set this option on different inputs. For Example:

      -

[2021-12-02 15:39] naj-h opened #1277 "[Fleet] Solution to avoid duplicate agents"
TL;DR: We need a way to properly unenroll an agent from command line on the client side, to be able to enroll it again without creating duplicates.

The use-case : an agent is having some issue, it shows as `updating` from the Fleet UI. Naturally, one tries to enroll the same agent again from client's command line.

For this:

- if we use `enroll` or `install -f` commands : it creates a duplicate

[2021-12-07 02:51] nimarezainia opened #107 "[Elastic Agent] Enable HTTP endpoint configuration for Elastic Agent"
**Describe the enhancement:**

Enable the HTTP Endpoint for Elastic Agent  to bring us to parity. This should be done on a "per policy basis"

**Describe a specific use case for the enhancement or feature:**

as per what is already available for filebeat

[2021-12-13 01:37] nimarezainia opened #106 "[Elastic Agent] Check whether agent is installed before pursuing installation with "install -f" option"
**Describe the enhancement:**

Today when the elastic agent is being installed there's a check to see if one is already present and if so the installation is aborted. This is ideal as we don't want to install another agent and end up enrolling two  into Fleet (rendering one a zombie).

This check however doesn't exist when the "-f" (force) flag is used. The -f flag is there so that there's no verb

[2021-12-13 16:11] EricDavisX opened #105 "Integrate Elastic Endpoint's log output and available stats into Elastic Agent 'diagnostic' collection"
**Describe the enhancement:**
would like the Elastic Agent to automatically be able to collect Endpoint logs and any configuration or state that is useful during debugging, when the 'diagnostic' call is made at cli.

**Describe a specific use case for the enhancement or feature:**
Refer to the Agent's implementation Documentation ticket that started the discussion:
https://github.com/elastic/obser

[2021-12-13 17:24] joshdover opened #104 "[Agent] Improve error log messages when agent binary cannot be downloaded"
When a user initiates remote Agent upgrades from the Fleet UI, upgrades can fail due to firewalls or similar from preventing the agent binary from being downloaded. In this case, the error in Agent logs will look something like:

[code]

It's not obvious exactly what the issue is becuase:
- The `no such file or directory` error message seems to indicate a missing file, which is not obvious that it

[2021-12-14 12:12] michalpristas opened #103 "Inspect command does not show fleet server config"
**Problem Statement:**
Often for troubleshooting purposes the configuration form the agents needs to be gathered for further analysis. We need to ensure that our CLI is consistent across all entities to make troubleshooting less difficult.

When running agent with fleet server integration running
`./elastic-agent output -o default -p fleet-server`
returns
[code]

when running
`./elastic-agent outp

[2021-12-14 21:39] DanRoscigno opened #102 "Field suggestions for Elastic Agent outputs"
In a discussion with some of the solution architects and product managers we came up with this list of Elastic Agent outputs, and the reasoning for each:

 - Logstash: Many customers use Logstash to concentrate / route the individual Beats or other agents (lowercase agents) from their production environment to their monitoring / management environment or to Elastic Cloud.
 - Both "management" and

[2021-12-15 07:55] jlind23 opened #101 "Agent should log the exit code of processes and write logs stdout and stderr of each process to file before exiting"

[2021-12-15 07:56] jlind23 opened #100 "Display which integration is causing the agent to become unhealthy"
When an Elastic Agent becomes unhealthy due to an integration, the only way to understand which integration is causing is to remove integrations one by one and/or check logs for a particular error.

Elastic Agent should be able to catch when an integration is failing and must be able to log this within the status command and the diagnostics command.

This is a design tasks between Elastic Agent Da

[2021-12-15 08:45] jlind23 opened #99 "Elastic Agent inspect to include windows registry key"
Details - Use Case:
Would be useful to have the ability to tell which windows registry key of installed Elastic Agent on windows machine without messing with the windows registry.

Workarounds (if any): Manually searching using regedit in windows machine.

Feature Request:
Include windows registry key in sudo elastic-agent inspect command:
https://www.elastic.co/guide/en/fleet/current/elastic-agen

[2021-12-16 15:20] mtojek opened #98 "elastic-agent.yml: yaml: line 47: could not find expected ':'"
Hi Team,

while performing a periodic check of the logs and jobs, I found this flaky error:

[code]

[source](https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/master/1342/artifact/build/elastic-stack-dump/juniper/logs/elastic-agent.log)

started using ordinary `elastic-package stack up -v -d` (7.16.0)

It causes some flakiness for the master builds.

[2021-12-17 21:10] michel-laterman opened #97 "elastic-agent container output API key support"
**Describe the enhancement:**

When running the elastic-agent in a container, in standalone mode, there is currently no way to specify an API key as a credential instead of username/password.

The `elastic-agent.docker.yml` file only shows username/password:
https://github.com/elastic/elastic-agent/blob/5664fa47b8103942136b3d8f18632020a4356f66/elastic-agent.docker.yml#L4-L10

[2021-12-22 16:06] AndersonQ opened #204 "Elastic Agent to compile natively on a Mac M1 machine"
**Describe the enhancement:**
We need Elastic Agent to be compiled so it can execute on a Mac with the M1 chip without any emulation software. With MacOS 11 the lowest required operating system.

**Describe a specific use case for the enhancement or feature:**
We need the Elastic Agent to be compiled so it can execute on a Mac with the M1 chip without any emulation software. With MacOS 11 the lowe

[2021-12-29 09:17] stuartnelson3 opened #95 "[elastic-agent] apm-server permissions for forking java-attacher"
Recent `apm-server` releases now come with the `java-attacher.jar` bundled along, so that an `apm-server` can fork and run a configured `java-attacher`.

In standalone mode, this requires that the user provide permissions to the `apm-server` to fork a process, otherwise the operation errors:

[code]

Currently, when running `apm-server` in managed mode (under the `elastic-agent`), these permission

[2022-01-10 13:47] jlind23 opened #94 "Beats diagnostic tooling - Phase II"
Following the work done here - https://github.com/elastic/beats/issues/21965

We should now work on collecting metrics and some other tasks:

- [ ] Libbeat collects metrics every 10s into ring buffer (N=60)
- [ ] Expose internal metrics via API
- [x] elastic/beats#29898
- [ ] Diagnostics tool reads metrics ring buffer
- [ ] (optional) CLI subcommand diag add to add extra files and directories to a

[2022-01-11 00:18] ppf2 opened #93 "Better logging when APM server is under memory pressure or eventually ran out of memory/crash"
Fleet server crashed, bringing down its spawned agents:

![image](https://user-images.githubusercontent.com/7216393/148859221-d9d2a4ad-1505-4df7-9e11-23e21cf9a2e9.png)

It looks like this is because it ran out of memory (these are 512m instances)

![image](https://user-images.githubusercontent.com/7216393/148859287-cf9665d9-f8ae-4889-abe2-b8b8dd611a26.png)

It will be helpful for the agent logs to

[2022-01-12 15:55] michel-laterman opened #92 "Allow elastic-agent diagnostics collect to ignore failures"
**Describe the enhancement:**

The `elastic-agent diagnostics collect` command will not produce an archive if it encounters a failure gathering logs or config data (and possible meta-data).
The `collect` command should be able to make a note of these errors in the archive (and echo them to stderr) and continue attempting to gather more data.

**Describe a specific use case for the enhancement or f

[2022-01-13 06:23] axw opened #91 "elastic-agent: KIBANA_FLEET_{USERNAME,PASSWORD} listed twice, once with reference to unused env vars"
KIBANA_FLEET_USERNAME and KIBANA_FLEET_PASSWORD are mentioned twice in the help output of `elastic-agent container`:

https://github.com/elastic/beats/blob/e61a3656cd70e18099db4ef4d20397e0c237a959/x-pack/elastic-agent/pkg/agent/cmd/container.go#L112-L113

https://github.com/elastic/beats/blob/e61a3656cd70e18099db4ef4d20397e0c237a959/x-pack/elastic-agent/pkg/agent/cmd/container.go#L126-L127

One me

[2022-01-14 15:02] ph opened #90 "[Elastic Agent] Allow beats subprocess to define custom configuration."
**Motivation**

**Use case 1:** Subprocess doesn't load specific custom beats configuration, this means that the beats will start with the default configuration that is defined in the **go-ucfg** structs from the source code. As an example, the **k8s processors** are enabled by default in the context of elastic-agent [when they should not](https://github.com/elastic/beats/pull/29809#issue-11001018

[2022-01-26 08:23] ruflin opened #1237 "[Elastic Agent] Running custom inputs under Elastic Agent"
Elastic Agent is a supervisor and can run any binary supporting the [elastic-agent-client](https://github.com/elastic/elastic-agent-client). This allows Elastic Agent to be extended with additional binaries. At the moment these binaries must be built by Elastic for signing. One of the ideas discussed is, that at one point this can also be used by non Elastic binaries.

But the above still puts a b

[2022-01-27 12:09] mtojek opened #89 "Post "http://kibana:5601/api/fleet/setup": net/http: request canceled"
Hi Team,

I can see an elongated fleet-server booting procedure of the `elastic-package stack up`. I digged deeper and found that there 2 timeouts everytime fleet-server is performing setup:

[code]

Do you think this is something we can improve? Right now, we're assuming that this is normal and just takes more time. I'm wondering if we can improve here.

[2022-01-27 13:07] narph opened #20 "CI setup"
There are a few concerns while setting up CI, we have chosen a simple setup atm but we need to revisit the implementation and answer the following:

- Run for all the platforms always?
- Run the e2e always? (I believe we should since we are missing integration/e2e tests in the current elastic-agent-poc repo)
- Use GitHub tags
- Use GitHub comments
- What k8s versions should be tested for the manif

[2022-01-27 14:35] mtojek opened #88 "Elastic-agent should not swallows stderr and panics"
Hi Team,

this [issue](https://github.com/elastic/integrations/issues/2602#issuecomment-1023268069) proved that we need a more user-friendly method to collect all panics. Otherwise we won't be able to grab anything from customers.

In the mentioned case I used `strace` to listen what `filebeat` is sending to `/dev/null`, but we need a more trival method.

[2022-02-01 16:20] BenB196 opened #87 "[Elastic Agent] Fleet managed Elastic Agent stays healthy when it can't connect to Fleet Server"
- Version: 7.16.2
- Operating System: CentOS 7 (but issue can probably happen with any Fleet managed Agent)
- Steps to Reproduce:
1. Install Fleet Managed Elastic Agent on a system. (.tar.gz install)
2. Wait for the Agent to register and become healthy
3. Interrupt connection between Elastic Agent and Fleet Server
4. Wait for Elastic Agent to start reporting connection error logs:
[code]
5. Check

[2022-02-02 18:56] nimarezainia opened #86 "[Elastic Agent] Provide the ability for the user to set the name of their agent during installation"
**Use Case:** Currently the name attached to the agent is chosen by Elastic - as in derived from some other entity (i.e machine name). Often these names have no significance to the user of our product who many need to better visually differentiate. In some instances the user is operating a multi tenanted environment and would like to encode the tenant name/ID into the agent name.

**Proposal:** Pr

[2022-02-03 10:08] amolnater-qasource opened #85 "Elastic-Agent support matrix not updated for latest OS's"
**Link:**
[elastic.co/support/matrix](https://www.elastic.co/support/matrix)

**Description:**
Elastic-Agent support matrix is not updated for latest OS's.
- Windows server 2022
- Windows 11
- MAC OS 12

We have been testing these OS's  from 7.16.
We have executed below test plans for these OS's:
- [Ingest Manager 7.16.0 new OS Windows 2022 Sanity Test plan](https://elastic.testrail.io/index.php?/

[2022-02-04 11:13] narph opened #84 "Add environment variable support for `agent.grpc` config options when running in a containerized environment."
**Describe the enhancement:** Add support for `agent.grpc` config options to be configured using - E when running in a containerized environment.

They are  currently missing in https://www.elastic.co/guide/en/fleet/current/agent-environment-variables.html

[2022-02-04 18:24] mdelapenya opened #83 "Panic in elastic-agent logs on Centos ARM"
- Version: elastic-agent-8.1.0-aa69d697-SNAPSHOT
- Operating System: CentOS 8 ARM
- AWS AMI: ami-01cdc9e8306344fe0

We have seen this error in a consistent manner in the Restar agent scenario:

[code]

### e2e tests logs
We are adding here the logs of the test framework with all operations executed in the tests: download artifacts, install agent command, checking Kibana APIs for online status... o

[2022-02-07 15:35] jlind23 opened #82 "Update Elastic Agent docker image for azure containers runtime"
**Describe the enhancement:**
Elastic Agent docker image is currently not working out of the box for azure container runtime

Docker-entrypoint is executed but it cannot launch elastic-agent because it doesn't find the file.
And it does not find the file because it does not have enough rights to do so.

This is due to the fact that Elastic Agent user is part of the root user group but somehow Azur

[2022-02-09 14:53] #20 closed, assigned to nobody

[2022-02-11 17:05] michel-laterman opened #81 "elastic-agent diagnostics log names on windows"
When a diagnostic bundle is created on a windows instances the windows filepath separators are used (in the log sub dirs):

[code]

[2022-02-17 01:47] louisong opened #80 "Ability for Elastic agent to restart osquerybeat without restarting the entire agent"
**Describe the enhancement:**
Include an option for elastic agent to restart osquerybeat without impacting the other integration workflow.

**Describe a specific use case for the enhancement or feature:**
- Users running elastic agents with multiple integrations/policies. If and when we need to restart agent (perhaps to troubleshoot other issues with other integrations,etc) that may disrupt other

[2022-02-17 10:32] endorama opened #237 "Improve developer documentation for agent + beats"
In the context of Elastic Agent, as integration developers and testers, we need a way to run the Agent with custom metricbeat versions/builds for debugging and testing purposes.

At the moment the resources for this are generally not available and resort mostly around asking. This issue should act as a placeholder where to aggregate this information. The end goal is to consolidate knowledge in an

[2022-02-20 20:21] BenB196 opened #79 "[DESIGN][Enhancement][Elastic Agent] Write down Elastic Agent status report structure"
**Describe the enhancement:**

When an application/integration is in a `CONFIGURING` status, the overall health of the agent should be in a `CONFIGURING` status.

**Describe a specific use case for the enhancement or feature:**

Currently (tested on 7.17.0), if an application is in the `CONFIGURING` status, then the overall status of the Agent is `HEALTHY`

[code]

It would be nice, that instead,

[2022-02-22 20:20] ph opened #37 "Add linting based on the elastic-agent-libs for the elastic agent"
Now that a base configuration for [golangci-lint](https://golangci-lint.run/) has been created and setup for [elastic-agent-libs](https://github.com/elastic/elastic-agent-libs) we should do the same for this repository.

See https://github.com/elastic/beats/issues/30150 for the related PRs.

[2022-02-22 20:27] michel-laterman opened #78 "elastic-agent linux service file"
Currently when the elastic-agent is installed through `rpm`/`deb` and initv script is installed to manage the service.
However, when installing from an archive the agent provides a systemd unit file.

Do we need to continue to provide initv scripts for 8.x releases? Or should we provide unit files for all possible installations going forward?

cc @ruflin

[2022-02-24 08:53] narph opened #47 "[Discuss] Keeping `CHANGELOG.next.asciidoc` or considering alternatives"
I am sure everyone has struggled with the `CHANGELOG.next.asciidoc` file, having to commit a second time in order to add the PR number or forgetting to add a comment , the file is also prone to merge conflicts and not isolated.
We had several discussions on alternative solutions inside beats but I am not aware if we committed already to anything yet, also noticed https://github.com/elastic/elastic

[2022-02-24 18:43] ph opened #51 "Evaluate the CI Job of this repository"
Lets evaluate the jobs run on every PRs.

[2022-02-24 18:45] ph opened #52 "Failures in Test-macosx && x86_64 — Test-macosx && x86_64 failed"
[code]

[2022-02-24 19:15] #37 closed, assigned to ph

[2022-02-28 12:39] narph opened #56 "[Discuss][Meta] Add integration tests to `elastic-agent` repository"
ATM we are depending on the `e2e-testing` for end to end testing, but the tests have been broken several times in the past due to unrelated issues or not having been updated to the latest changes and more than often they turn out to be fragile.
The `e2e tests` should also come with some ownership responsibility when it comes to keeping them up to date or investigating failures and redirecting them

[2022-02-28 13:15] #52 closed, assigned to narph

[2022-02-28 16:40] narph opened #59 "[Meta] Elastic Agent setup"
Repo setup tasks

- [x] .CI setup (fleet-ci)
- [x] Unified release
- [x] e2e testing https://github.com/elastic/elastic-agent/pull/54
- [x] Rebase, previous beats automations
- [ ] Changelog https://github.com/elastic/elastic-agent/issues/47
- [ ] Pinned version for the upstream dependencies (filebeat, metricbeat) while working with snapshots
- [x] Validate release process still applies  https://g

[2022-03-01 16:37] v1v commented on #59
What's the OS support to be executed in the CI? So far, it runs on:
- ubuntu
- arm
- windows-2019
- `macos` but in GitHub actions

Windows-2022 support has been added in https://github.com/elastic/elastic-agent/pull/62 but, what's the strategy? Is it needed? If so, when should it run?

[2022-03-02 10:23] mdelapenya opened #64 "[CI] Move the integration tests stage right after the unit tests stage"
I would see convenient to run the integration tests right after the unit tests, not after the e2e tests, like it's done now.

@v1v @narph thoughts?

[2022-03-02 12:05] v1v commented on #64
No issues, bear in mind, there are no ITs yet, the CI stage is pretty much a NOOP, https://github.com/elastic/elastic-agent/blob/c09bd77404da087ace182594c69098817748a0fc/.ci/Jenkinsfile#L237-L248

[2022-03-02 13:36] narph commented on #64
we can move them after the unit test step now so we won't forget once we have something running

[2022-03-02 21:38] BenB196 opened #77 "[Elastic Agent][Standalone] Add configuration validation command"
**Describe the enhancement:**

Currently, there is no good way of validating a configuration for a standalone Elastic Agent.

The only way to do this currently, is to load up an agent with a configuration and wait to see if it (or its subprocesses (beats)) run into any issues.

(Running the help command against the Elastic Agent binary shows no "configuration"/"validation" command)
[code]

**Descr

[2022-03-04 15:11] marc-gr opened #72 "Change namespace of metadata fields that can cause confusion"
The agent automatically fills fields such as `cloud.account.id`. This is normally fine but with some integrations e.g.: `gcp`, `aws` it can be confusing since they also make use of the `cloud.*` fields, which can lead to a mix of inconsistent information i.e. `cloud.account.id` belongs to the agent host and `cloud.project.name` is populated from the integration.

Would be useful to consider changi

[2022-03-07 10:37] endorama opened #178 "[Agent] Credentials JSON string is mangled when rendered to YAML"

[2022-03-07 13:18] P1llus opened #75 "Filebeat hot-reloads new configuration before restart"
When enabling an integration for a first time, it seems to me that Elastic-Agent passes the configuration to Filebeat, which hot-reloads it before it then restarts the filebeat instance.

This is somewhat confusing for users, because they would usually find a false error message in the agent logs (from Filebeat and not Agent), here is an example:

`{"log.level":"error","@timestamp":"2022-03-07T11:

[2022-03-07 14:11] #85 closed

[2022-03-07 14:13] ph commented on #83
@mdelapenya Is this still hapenning?

[2022-03-07 14:20] jlind23 commented on #102
ping @nimarezainia @mukeshelastic - What should we do with this issue? It seems that we already have public issues to track the work for each of those proposals.

[2022-03-07 14:34] felixbarny commented on #95
@stuartnelson3 can this be closed now that we have decided to remove seccomp from APM Server?

[2022-03-07 14:43] jlind23 commented on #125
Closing for now as it never was prioritized. Can be reopened later on if needed. cc @nimarezainia

[2022-03-07 14:43] #125 closed

[2022-03-07 14:45] jlind23 commented on #129
cc @ph should be included inside the V2 architecture.

[2022-03-07 14:45] #129 closed

[2022-03-07 15:26] nimarezainia commented on #141
@ajoliveira sorry for the delay. Was there a specific customer request for this? I understand the use case and why it could be important.

I would prefer to make this enhancement to elastic-agent. your thoughts?

[2022-03-07 16:07] nimarezainia commented on #102
first two are being actively addressed.
The last bullet (routing the events at the agent) is a request we have had before. @DanRoscigno do you have any customer use cases for this that you could share?  needless to say that we don't currently have plans to deliver on this.

[2022-03-07 16:09] #135 closed

[2022-03-07 16:15] nimarezainia commented on #77
@BenB196 are you writting the configuration from a blank slate? or gathering it from the fleet UI? the validated version of the config is in the UI

[2022-03-07 16:25] BenB196 commented on #77
Hi @nimarezainia that configuration is effectively a blank slate. It is built via a Terraform template that looks something like:

Snippet of one of the templates (part of a larger Terraform deployment flow):
[code]

As you can see, the template while somewhat structured, can potentially introduce some issues depending on how people pass through different variables to the template.

**But:** To bu

[2022-03-07 20:14] andrewkroh commented on #178
I was trying to determine what is wrong with the example given. The example appears to be valid YAML and its contents appear to be valid JSON. It passes when I paste it into https://yamllint.com. And when I check it with `pbpaste  | yq eval '.[].credentials_json' | jq .` the JSON looks like a typical GCP credentials file, but if you further inspect the `private_key` you'll see that key is malforme

[2022-03-08 08:50] ruflin commented on #145
Lets close this issue. @jasonrhodes Can you take the lead on opening a new issue around the usage of cluster_uuid ?

[2022-03-08 08:50] #145 closed

[2022-03-08 09:02] endorama commented on #178
@andrewkroh I fear that may be a copy paste error on my side, as the newline is missing in my local configuration. I amended the test string.

[2022-03-08 10:46] stuartnelson3 commented on #95
yep! this is no longer needed.

[2022-03-08 10:46] #95 closed

[2022-03-08 12:03] mtojek commented on #178
I went the other way round and tried to remove the escaping problem from the equation.

1. I cloned @endorama's branch.
2. Then:
[code]

Now you can see that elastic-package starts the terraform container to create GCP compute machine. It proves that credentials are working correctly. `GOOGLE_CREDENTIALS` is valid.

Then, elastic-package runs system test runner (which fails):

[code]
(no metrics f

[2022-03-08 13:00] mtojek commented on #178
I guess that we found the root cause. The elastic-package used 8.0.1-SNAPSHOT in this branch, but this feature (`credentials_json`) is available since 8.1.0. Most likely it wasn't backported to 8.0.0.

[2022-03-08 14:07] endorama commented on #178
As written by @mtojek the `credential_json` support [has been added](https://github.com/elastic/beats/pull/29584) to the `gcp` metricbeat module targeting 8.1.0, while the CI was using 8.0.x.
It wasn't backported to 8.0 intentionally (not sure if it was the right decision or not, but I remember discussion around which version to target for new features and decided to target 8.1.0).

**Still:** Whe

[2022-03-08 14:43] jlind23 commented on #148
Closing that one in favour of: https://github.com/elastic/elastic-agent/issues/104

[2022-03-08 14:43] #148 closed

[2022-03-08 15:12] endorama commented on #178
I confirmed using Stack version 8.1.0 everything works, even if the string is mangled as mentioned in this issue.

I confirm the findings from @andrewkroh: both YAML and JSON are correct so even if it looks weird it actually works when passed to the Agent and Metricbeat.

I'm going to close this as **not a bug**.

I'm also going to investigate @mtojek finding about the empty Kibana UI, but separat

[2022-03-09 08:19] jlind23 commented on #154
@ph the status log is coming from this file:
https://github.com/elastic/elastic-agent/blob/main/internal/pkg/core/status/reporter.go#:~:text=%7D-,func%20(r%20*controller)%20updateStatus()%20%7B,%7D,-if%20r.status

I do not see any issues there. Is it possible that Kibana UI "fails" to parse our logs and retrieve all logs without taking care of the specified level?

[2022-03-09 14:25] #161 closed

[2022-03-09 14:25] #162 closed

[2022-03-09 14:25] #164 closed

[2022-03-09 14:25] #165 closed

[2022-03-09 14:25] #166 closed

[2022-03-09 14:25] #168 closed, assigned to nobody

[2022-03-09 14:25] #169 closed

[2022-03-09 14:25] #171 closed

[2022-03-09 14:27] #156 closed

[2022-03-09 14:27] #159 closed

[2022-03-09 14:27] #160 closed

[2022-03-09 14:27] #177 closed

[2022-03-09 14:27] #170 closed

[2022-03-09 14:29] #176 closed

[2022-03-09 14:30] #174 closed

[2022-03-09 14:35] jlind23 commented on #127
Closing it as it will be part of the V2 architecture.

[2022-03-09 14:42] narph opened #184 "Unable to read fleet.ssl options: Invalid TLS validation configuration - endpoint security integration"
Ex configuration:

`elastic-agent.yml`:

[code]

`fleet.yml`

[code]

Generated `elastic-endpoint.yaml`

[code]

Following errors are seen in the endpoint logs:

[code]
This is due to the validation in endpoint where empty string verification mode is not recognized https://github.com/elastic/endpoint-dev/blob/4e2c19673e9654dd83e26d32ec8d045f81c931e9/Plugins/Policy/Lib/TlsConfig.cpp#L180-L208

It l

[2022-03-09 17:37] ph opened #185 "Elastic Agent diagnostic command has issues handling really long string as value in the yaml."
Ref: https://github.com/elastic/elastic-agent/issues/178
---

Maybe an issue with quote escaping?

This string:
[code]
is dumped (by `diagnostics collect`) as:
[code]

This string (in `elastic-agent.yaml` config file):
[code]
is dumped (by `diagnostics collect`) as:
[code]

[2022-03-09 17:37] ph commented on #178
Followup issue https://github.com/elastic/elastic-agent/issues/185

[2022-03-09 17:41] ph commented on #184
I believe the best way to fix this issue is to make it explicit which is **Full**, one way to fix it would be to change how the _VerificationMode_ type is serialized into YML or JSON, when the value is empty we should instead use 'full'

[2022-03-09 19:23] ph commented on #173
@amolnater-qasource Is this is still an issue ? fyi @jlind23

[2022-03-09 19:28] ph commented on #157
I believe it's a better user experience to catch user error as early as possible. This also has the adventages to reduce load on fleet-server and on the user network when a configuration is invalid.

I haven't investigated but, integration generates input and we can validate inputs at the process level maybe we can share the heuristic between our inputs and fleet to validate it?

The other way wou

[2022-03-09 21:53] ppf2 opened #188 "Expose a configuration for users to override log file settings (e.g. rotation, path, etc..) for Fleet-managed agents"
We do not have any way to override [log file settings](https://www.elastic.co/guide/en/fleet/current/elastic-agent-standalone-logging-config.html) for Fleet-managed agents today.   It currently uses the default settings below but can be helpful to expose the configuration for users to tune (rotation policy and the ability to tell Fleet-managed agents to place the log files on a different mount pat

[2022-03-10 08:18] amolnater-qasource commented on #173
Hi @ph
We have revalidated upgrading 8.1.0 agent upgrade to 8.2 Snapshot and found this issue **still reproducible**.

**Observations:**
<HTML>

<BODY TEXT="#000000">
<TABLE FRAME=VOID CELLSPACING=0 COLS=4 RULES=NONE BORDER=0>
	<COLGROUP><COL WIDTH=101><COL WIDTH=145><COL WIDTH=131><COL WIDTH=160></COLGROUP>
	<TBODY>
		<TR>
			<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000

[2022-03-10 08:45] jlind23 opened #189 "[META] Elastic Agent V2 Architecture"
Meta issue to publicly track Elastic Agent V2 progress.

Actual V2 architecture design.
![image](https://user-images.githubusercontent.com/43535167/157623504-2da434e1-5eb2-4190-9bb5-ac419a143d5e.png)

Related repository: https://github.com/elastic/elastic-agent-shipper

## Goals

- Reduce the number of connections required by Elastic Agent to Elasticsearch or other remote services.
- Reduce the co

[2022-03-10 08:46] jlind23 commented on #127
@zez3 i've started a new issue just there: https://github.com/elastic/elastic-agent/issues/189

[2022-03-10 11:12] joshdover opened #190 "Diagnostics should include agent ID"
When running `elastic-agent diagnostics collect` the Agent's ID should be included somewhere in the report. This is helpful for SDHs to help users with identifying data coming from this given Agent. However, today (I'm using Agent 8.1.0) the `config/elastic-agent-local.yaml` file has an empty string for the agent.id field, for example:

[code]

[2022-03-10 11:41] joshdover commented on #86
Correction: we no longer have a Saved Object for Agents but we do have a document in the `.fleet-agents` index, but the same idea applies. +1 on supporting updates to this via the `PUT /api/fleet/agents/:id` endpoint in Kibana.

[2022-03-10 16:20] AndersonQ opened #191 "Elastic agent gets stuck trying to install application"
If the elastic agent finds the application to be installed on its `download` folder, it'll unpack and install. However if the install operation fails, it'll retry it indefinitely, preventing any other application to be installed. Others could succeed.

Here are some debug logs showing it stuck on the retry while trying to install the elastic-endpoint.
![agent](https://user-images.githubusercontent

[2022-03-10 16:24] AndersonQ opened #192 "Filebeat-monitoring should be started first"
When the elastic-agent is starting the process, it might get stuck trying to start a process and therefore it does not start anything else. If it happens before filebeat-monitoring, there will be no logs available on Elasticsearch. The only way to understand what is happening is ssh into the machine and checking (or extracting) the logs manually. Starting filebeat-monitoring before any other proce

[2022-03-10 17:30] andrewkroh opened #193 "mage buildspec does not update supported.go"
If you run `mage buildspec` it will run without errors and provide the expected log output, but it doesn't actually do anything.

`>> Buildspec from internal/spec/*.yml to internal/pkg/agent/program/supported.go`

The problem is that errors are occurring, but they go unchecked in the code. The root cause is a recent change to workaround the fact that `github.com/elastic/elastic-agent/dev-tools/lic

[2022-03-10 17:43] andrewkroh commented on #193
FWIW switching to [embed](https://pkg.go.dev/embed) would be a better long term solution for these spec files IMO.

[2022-03-10 19:14] #193 closed

[2022-03-14 13:06] jlind23 commented on #191
@nimarezainia
What should the behaviour to observe here? Should we try only a couple of times until moving to the next step?

cc @ph @blakerouse

[2022-03-14 13:17] ph commented on #192
Agree, we should change that behavior, without having monitoring on (metric and log) we are indeed blind to support our users from the fleet UI.

[2022-03-15 13:24] jlind23 commented on #163
After discussing with @cmacknz and having in mind the current design on the input as part of the Elastic V2, we decided to froze this work for now and rather keep it for later to see if V2 design will fixes these problems.

[2022-03-15 13:37] cmacknz commented on #163
Yes, there is some valuable refactoring to be done here but completing all of the refactoring to solve this problem within metricbeat will take a long time. We are shifting focus to V2 implementation and we can hopefully address the root problem with V2 (via separate processes, and agent KV store, etc as suggested in the description).

[2022-03-15 16:23] blakerouse commented on #191
I agree with @ph we should do them in parallel.

[2022-03-16 05:46] nimarezainia commented on #191
also needs to be deterministic. We should have a limit on retry.

[2022-03-16 11:18] mtojek commented on #98
Hey @ph,

Another occurrence: [log](https://beats-ci.elastic.co/job/Ingest-manager/job/elastic-package/job/main/58/artifact/build/elastic-stack-dump/check-nginx/logs/elastic-agent.log)

[2022-03-16 13:36] AndersonQ commented on #191
I agree the agent should start applications concurrently, however making it concurrent does not solves the problem of the start up process getting stuck. Therefore I believe they should be 2 different tickets, 1 bug and 1 enhancement.

[2022-03-16 14:10] ph commented on #98
[code]

[2022-03-16 15:57] jlind23 commented on #149
@nimarezainia Should we also support kubernetes label here?

[2022-03-16 16:06] #84 closed

[2022-03-16 20:31] #154 closed

[2022-03-17 11:05] b2ronn opened #210 "Field from the document for the data_stream.namespace"
if I specify "${kubernetes.namespace}" in the namespace field, in the integration through kibana, then I get the error
[code]
how to specify variable for namespace?

![image](https://user-images.githubusercontent.com/20790707/158403992-19d9301c-6ec2-4105-86e3-69305239ea1b.png)
ps:
OpenShift version 4.9.10
Elasticsearch (ECK) Operator 2.1.0 provided by Elastic
elastic/kibana/fleet/agent - 8.1

[2022-03-17 12:21] cachedout commented on #151
Just for the sake of completeness, I'm linking this issue to https://github.com/elastic/infra/issues/24109 where the discussion is happening around the future of Mac workers and some recent testing that's being done for M1 workers. I would consider the M1 piece of this more or less blocked until we move forward on https://github.com/elastic/infra/issues/24109 though there could be some workarounds

[2022-03-17 14:28] jlind23 commented on #151
@cachedout why do you consider this as blocked until the infra issue is solved?
Be aware that @AndersonQ worked on the M1 artifact and it is almost ready to be officially release.
cc @ph

[2022-03-17 14:54] ph commented on #210
This is indeed a good catch,

 @elastic/fleet  is there a condition where the fleet would not generate an `output_permissions` block when using a variable for the namespace?

[2022-03-17 17:23] henrikno opened #212 "Elastic-agent verifies beats artifacts excessively"
We're running elastic-agent on k8s 1.21 on GKE, based on this manifest:
https://github.com/elastic/elastic-agent/blob/main/deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml

We noticed that the `elastic-agent` process was doing a lot of disk io, reading around 5MB/s constantly.
I traced the process with `fileslower`/`ext4slower` and saw it was reading
`metricbeat-7.17.0-linux-x86_64.tar.g

[2022-03-17 17:53] AndersonQ commented on #213
@nimarezainia does https://github.com/elastic/infra/issues/34497 replaces this issue?

[2022-03-17 18:15] cmacknz opened #214 "[META] Support the Elastic Agent Data Shipper"
The Elastic agent must be capable of starting the Elastic agent data shipper and connecting inputs to it. The data shipper implementation is tracked under https://github.com/elastic/elastic-agent-shipper/issues/3

To support the phase 1 data shipper the agent must complete at least the following tasks:

- [ ] Integrate the shipper into the elastic agent packaging step.
- [ ] Define a feature flag

[2022-03-17 19:59] ph opened #215 "[Design] Elastic Agent Control Protocol v2 gRPC."
## Goals

- [ ] Allow health reportings per Inputs, or outputs.
- [ ] Allow processes to route logs event through the gRPC endpoint.
- [ ] Allow Elastic Agent to Collect Input or Output specific metric
- [ ] Allow Elastic Agent to offer services to runnings process (k,v services).
- [ ] Support v1 and v2 clients.
- [ ] List of metrics collected by the Elastic Agent about his managed processes.

##

[2022-03-17 20:04] ph opened #216 "[Meta][Feature] Integrate the shipper into the elastic agent packaging step"
Meta issue, TBD

[2022-03-17 20:12] ph opened #217 "Define a feature flag for enabling the shipper in the agent policy, defaulting to false."
I should be able to turn on or off the possibility to run Elastic Agent with or without the new shipper.

## Deliverables:

- [ ] Using an option in the Agent policy, allow someone to configure it via Fleet so multiples Agent can be switched remotely.
- [ ] Turn on via an environment variable, so you can try it on a single agent.
- [ ] Documentation

[2022-03-17 20:21] ph opened #218 "Migrate from using port to use named pipes or socketfile instead of ports."
The v1 protocol that we have today works over TCP port, with a higher quantity of services to be run by the Elastic Agent this will not scale easily and can cause conflict for already used port.

We should migrate our connection strategy to:

- Named pipe under Windows
- Sockerfile for macOS and Linux

[2022-03-17 20:38] ph opened #219 "[Meta][Feature] Start the shipper process(es) and configure inputs to write to them when the shipper feature flag is enabled."
Dependency on #218

- [x] Start a shipper for each unique destination used by Filebeat or Metricbeat.
- [x] Supervise and monitor the shipper processes.
- [x] Use the shipper as the output destination for Filebeat and Metricbeat
- [x] Collect health information about the shipper

[2022-03-17 20:45] ph opened #220 "[Meta][Feature] The agent policy's input processor configurations must be provided to the shipper."
**Goal:** The elastic agent needs to take the processors defined for each inputs, and copy them to the appropriate shipper configuration. The information given to the shipper will need to have the information required to associate events from a specific input to a specific list or processors.

[2022-03-17 21:19] ph opened #221 "Elastic Agent should aggregate the log from his subprocesses"
Running processes for the Elastic Agent should be considered an implementation details, currently, each process is responsible for writing their own log and handling the file rotation. Instead, each process should write their log to stdout and Elastic Agent should aggregate them and write them to his own logs and also handle the file rotation.

Tasks:

- [ ] The impact of these changes with the ex

[2022-03-17 21:20] ph commented on #221
@jlind23 @AndersonQ I believe this work is related to https://github.com/elastic/elastic-agent/issues/88

[2022-03-17 21:27] ph commented on #217
@jlind23 When the plan is fixed we need to synchronize with the Fleet team to make this option available in fleet.

[2022-03-17 21:50] ph opened #222 "[Meta][Feature] Refactor how Elastic Agent know how to run a binary."
Our [spec](https://github.com/elastic/elastic-agent/tree/main/internal/spec) defines how software is run by the Elastic Agent and what transformation the transpiler needs to execute to convert the configuration from an Agent configuration to a beats configuration. Change are required for the Elastic Agent to understand what is a shipper.

We would like to make the following changes.

- [x] Allow t

[2022-03-18 08:44] mtojek commented on #98
More occurrences:

https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/main/298/artifact/build/elastic-stack-dump/cisco_umbrella/logs/elastic-agent.log
https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/main/298/artifact/build/elastic-stack-dump/zerofox/logs/elastic-agent.log
https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/main/298/artifact/buil

[2022-03-18 08:48] jlind23 commented on #98
@narph as soon as you are done it moving elastic agent, could you take care of this one please?
Cc @ph

[2022-03-18 13:22] ph opened #224 "golangci-lint issues with Go 1.18 issues on Elastic-Agent"
Found in https://github.com/elastic/elastic-agent/pull/207
[code]

[2022-03-21 08:32] jlind23 commented on #100
@ph should I keep it in 8.2 or should I rather reconsider it for another release?

[2022-03-21 09:02] mtojek commented on #98
Another one today:

https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/main/307/artifact/build/elastic-stack-dump/activemq/logs/elastic-agent.log

[2022-03-21 09:30] jlind23 commented on #217
@ph what about the timing? Should we sneak it into 8.3 as part of the shipper work?

[2022-03-21 12:08] ph commented on #217
I believe so, note depending on the timing we could have it in the fleet UI in 8.4.

[2022-03-21 12:11] ph commented on #100
@jlind23 Agree, we need changes in v2 and in the input to be able to better report their state, it's a joined effort from data and control plane.

[2022-03-21 13:56] ruflin commented on #98
I'm started to be concerned around this issue as it has been around for (too) long and my guess is that it uncovers some rare race condition that can happen or similar. @ph

[2022-03-21 21:27] hilt86 commented on #151
Will the M1 binary resolve the issue where Endpoint blocks all network extensions?

[2022-03-21 21:30] hilt86 commented on #151
@cachedout those issues have mysteriously disappeared

[2022-03-22 06:10] zez3 opened #284 "Allow configuration of Agent(+)Beats Internal queue (on disk queue)"
**Describe the enhancement:**
Enable the options to configure from Fleet (policy) the Internal Queue of my Agents and/or underlying Beats.

At the moment this is only available for standalone Agents.
https://www.elastic.co/guide/en/beats/filebeat/current/configuring-internal-queue.html

**Describe a specific use case for the enhancement or feature:**

When an Managed Agent dies or gets restarted w

[2022-03-22 07:48] deepikakeshav-qasource opened #230 "[Bug] No data and logs for agent installed with System integration."
**Describe the bug**
No data and logs for agent installed with System integration.

**Build Details:**
[code]
**OS**
All

**preconditions**
1. Policy should be exist or created

**Steps to Reproduce**
1. Navigate to fleet tab
2. Install the agent with policy that contains system integration
3. Observe that endpoint is not displayed under Endpoints tab after successful installation of agent

**Actu

[2022-03-22 07:49] deepikakeshav-qasource commented on #230
@manishgupta-qasource please review!!

[2022-03-22 08:06] manishgupta-qasource commented on #230
Secondary review for this ticket is Done

[2022-03-22 09:21] AndersonQ opened #231 "Add macros point to elastic-agent repo on changelog files"
**Describe the enhancement:**

The current changelog files have the macros `pull` and `issue`, however they point the _beats_ repo. Whereas they're still needed, it's also needed new ones pointing to the elastic-agent repo

**Describe a specific use case for the enhancement or feature:**

Linking issues and pull requests from the elastic-agent repo in the changelog files

[2022-03-22 10:42] mtojek commented on #98
Another one today:

https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/main/311/artifact/build/elastic-stack-dump/fireeye/logs/elastic-agent.log

[2022-03-22 13:53] ph commented on #115
I was looking at the user issue and precisely investigating a connection problem, As a normal user I was able to start `Elastic-Agent run` and the agent was able to successfully connect to fleet-server. When the Elastic Agent was run under `systemd` the agent was unable to connect to the remote server. When discussing with the user, we was unaware that he had a `http(s)_proxy` configured on this s

[2022-03-22 18:45] ph commented on #230
This would be linked to an out issue that @lykkin is investigating,  I am going to assign it to you.

[2022-03-22 20:13] ph commented on #59
Added a new item to this meta issue: `Update developer documentation (Usage of EXTERNAL, Expected directory layout, Usage of DEV)`

[2022-03-22 20:58] michel-laterman commented on #103
Testing shows that endpoint, and apm both show in the `inspect` output. However `fleet-server` does not.

In a policy that just has the fleet integration, the input for it is:
[code]
However the actual config is found as part of `fleet-server.yml`:
[code]
Should we output the fleet section of the `fleet.yml` file in this case?

[2022-03-23 04:15] nimarezainia opened #235 "[Elastic Agent] Support for Debian 11 platform"
Latest Debian and already supported for other stack components.
Linking customer requests here.

[2022-03-23 07:40] jlind23 commented on #103
@michel-laterman yes we should!

[2022-03-23 07:49] jlind23 commented on #101
@ph did you, by any chance, made progress on this?.

[2022-03-23 07:52] jlind23 commented on #98
@narph @mtojek did you make any progress on this?

[2022-03-23 07:55] jlind23 commented on #97
@ph @michel-laterman what would be the solution here? Simply updating the yaml file to be able to handle API Key parameter instead of username and password?

[2022-03-23 08:36] #204 closed

[2022-03-23 09:14] cachedout commented on #151
@jlind23 My mistake. I was under the impression that there were not currently M1 workers in the CI but there are indeed some static workers which we requested last year. Please disregard my comment.

[2022-03-23 09:38] jlind23 commented on #149
@nimarezainia any feedback on my last comment?

[2022-03-23 10:07] jlind23 commented on #213
@AndersonQ it does!

[2022-03-23 10:08] jlind23 commented on #151
@AndersonQ as both your PRs were merged, could I consider this issue as done?

[2022-03-23 10:09] #106 closed

[2022-03-23 10:32] narph commented on #98
@jlind23 , I've been trying to reproduce the issue by bringing the stack up/down multiple times and also ran a test marshaling/unmarshaling the `elastic-agent.yml` file to no success.

I am also not seeing anything suspicious in any of the elastic agent of fleet server logs when this error occurs so I think we can rule out the elastic agent out for now.

We have updated the yaml.v2 version to 2.4

[2022-03-23 10:58] mtojek commented on #98
All I confirm at the moment is that happened again, but for 8.1.0:

https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/main/317/artifact/build/elastic-stack-dump/fleet_server/logs/elastic-agent.log

I will try to reproduce it locally.

[2022-03-23 12:45] mtojek commented on #98
I was investigating this issue and found something suspicious. Take a look at file I posted as [full dump](https://github.com/elastic/elastic-agent/issues/98#issuecomment-1060737035), there are some sections duplicated.

It looks like we're taking the [elastic-agent.yml](https://github.com/elastic/elastic-agent/blob/main/_meta/elastic-agent.yml) file and overriding its beginning with [elastic-agen

[2022-03-23 12:55] jlind23 commented on #132
@ph multierror is used magefile.go for example.
Thus I think this old issue should be closed.

[2022-03-23 12:57] jlind23 commented on #98
That's what we thought yesterday with @narph. How can we check which files are used when templating?

[2022-03-23 13:01] mtojek commented on #98
Potential side issue: [lines](https://github.com/elastic/elastic-agent/blob/main/internal/pkg/agent/storage/replace_store.go#L59-L61)

What will happen if the content length is the same, but bytes are different?

[2022-03-23 13:08] mtojek commented on #98
This [code](https://github.com/elastic/elastic-agent/blob/main/internal/pkg/agent/storage/replace_store.go#L77) looks consistent with what see. `O_CREATE|O_WRONLY` can give such effect. It seems to be a weird race condition.

It looks the ones in the [_meta](https://github.com/elastic/elastic-agent/tree/main/_meta) directory?

[2022-03-23 14:12] ph commented on #98
Thanks @mtojek for the investigation, I would have expected it to be more common, what is the backing fs on that file?

[2022-03-23 14:17] mtojek commented on #98
This is a Docker container running in our CI, but I'm not sure what's underneath (os is Ubuntu). Maybe @v1v can shed some light here.

[2022-03-23 14:25] ph commented on #132
Agree, errwrap is an indirect dependencies of go-multierror.

[code]

[2022-03-23 14:25] #132 closed

[2022-03-23 15:15] ph commented on #103
Yes, when I've debugged a few issues I see we are showing _api_key_ or _credentials_ in the yaml.
When we are exporting these files we are losing the types and their meaning. Until we refactor the code to keep that, maybe we could have a simple _heuristic_ to look for a field name and replace their content before writing to disk.

I am aware of the following sensitive fields.

[code]

[2022-03-23 15:25] michel-laterman commented on #97
Yes, but we also need to make sure that the containers are able to read them from env vars as well.

[2022-03-23 15:29] ph commented on #190
@michel-laterman If you do any changes in the diagnostic, this seems a low-hanging-fruit to me.
\\

[2022-03-23 15:36] jlind23 commented on #230
@deepikakeshav-qasource Could you test it again as @lykkin reverted the change that was causing this issue.

[2022-03-23 16:05] michel-laterman commented on #103
@ph, I think we still need those fields in the `fleet.yml` that's written to disk; however we can do the replacement for what's written in `diagnostics collect`

[2022-03-23 16:52] ph commented on #103
Yes, I should have been more precise the replacement would only be done when `collecting` @michel-laterman Can you create an issue for this?

[2022-03-23 16:59] AndersonQ commented on #88
jotting down ideas:
 - do we have panics (stderr) logged to systemd/jornald?
 - could we collect systemd/jornald using the agent's `diagnostics collect` command?
 - if the logger is set up when the agent panics, we could recover and properly log the panic
 - is there any trade-off for always collecting systemd/jornald logs for the agent on the `diagnostics collect`?

[2022-03-23 17:10] michel-laterman opened #241 "redact secrets in diagnostics collect command"
**Describe the enhancement:**

The `elastic-agent diagnostics collect` command creates an archive that config files that have secret/sensitive data.
These fields should be redacted before being written to the archive.

[code]

Additionally the private key of a cert should be redacted if it's inlined in the config and not a path to a file.

[2022-03-23 17:10] michel-laterman commented on #103
done: https://github.com/elastic/elastic-agent/issues/241

[2022-03-23 20:47] ph commented on #88
Funny thing is, if Agent recover and we are running journald input  I presume we would get that information.

[2022-03-23 21:09] michel-laterman commented on #103
@jlind23, might be a bit trickier then expected to add the fleet.yml contents (due to how config is assembled at the point where it determines programs)

[2022-03-24 06:06] deepikakeshav-qasource commented on #230
Hi Team,

We have validated this issue on latest **8.2.0 SNAPSHOT** and observed that issue is Fixed. 🟢 .

- Now data and logs for installed agent  is available.

Please find the below testing details:

**Build Details:**
[code]
![image](https://user-images.githubusercontent.com/61860752/159852368-a483f743-5977-4ec1-aa5b-e1b9e3d6f5dd.png)

![image](https://user-images.githubusercontent.com/6186075

[2022-03-24 06:06] #230 closed

[2022-03-24 09:14] amolnater-qasource opened #245 "[Agent Upgrade]: Agent upgrade fails and goes Unhealthy from 8.1.1>8.2 Snapshot."
**Kibana version:**  8.2 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows,Linux and MAC

**Build details:**
VERSION: 8.2.0 Snapshot
BUILD: 51365
COMMIT: 130823ac27126f1eca689a186a088f1993fa848a
Artifact link for 8.1.1: https://www.elastic.co/downloads/past-releases/elastic-agent-8-1-1

**Preconditions:**
1. 8.2 Snapshot Kibana cloud environment should be available.
2. 8.

[2022-03-24 09:14] amolnater-qasource commented on #245
@manishgupta-qasource Please review.

[2022-03-24 09:18] manishgupta-qasource commented on #245
Secondary review for this ticket is Done

[2022-03-24 09:35] jlind23 opened #246 "[DOCS] Document how to set Elastic Agent limits"
We need to document how to set limits on the Elastic Agent when it comes to Memory, CPU or even disk space consumption. By doing it, it will allow our user to better understand how to fine tune their Elastic Agent deployment and sometimes avoid overconsumption in resource limited environment.

This documentation update should go through different options such as:

On kubernetes Elastic Agent can b

[2022-03-24 09:47] jlind23 commented on #103
@michel-laterman what shall we do then?

[2022-03-24 09:47] jlind23 commented on #103
@michel-laterman what shall we do then? As you linked a PR, does it mean it is ready?

[2022-03-24 09:54] jlind23 commented on #101
@AndersonQ it is, let me close this one then.

[2022-03-24 09:54] #101 closed

[2022-03-24 15:32] michel-laterman commented on #103
yeah, the PR uses the input from the policy, it reflects slightly different information then the fleet config

[2022-03-24 17:01] #103 closed

[2022-03-24 20:10] andrewkroh opened #252 "verifier fails in snapshot builds for downloaded artifacts"
For snapshot builds the [composable verifier](https://github.com/elastic/elastic-agent/blob/d108e495fd73dbe9afe781db16cbb3aeb5d23a00/internal/pkg/agent/application/upgrade/step_download.go#L94-L109) fails for artifacts that are downloaded.

The verifier chain for snapshot builds is "filesystem", "snapshot", and "http". When any verifier fails it [deletes](https://github.com/elastic/elastic-agent/b

[2022-03-24 21:01] michel-laterman commented on #111
HI @juliaElastic,

I think the openapi spec is incorrect, the request for `enrollment_api_keys/<id>` (https://petstore.swagger.io/?url=https://raw.githubusercontent.com/elastic/kibana/master/x-pack/plugins/fleet/common/openapi/bundled.json#/default/get-enrollment-api-key)
indicates that it will return a list, however the current 8.2 snapshots don't

[code]

[2022-03-27 23:44] wakejordan opened #256 "Customer requesting Agent/Endpoint support for Debian 11"
**Describe the enhancement:**

Agent support for Debian 11

**Describe a specific use case for the enhancement or feature:**

Agent Endpoint detection for on-prem customer Greyscale

[2022-03-27 23:45] wakejordan commented on #235
[https://github.com/elastic/elastic-agent/issues/256](url)

[2022-03-28 07:44] juliaElastic commented on #111
@michel-laterman thank you for raising, you are right, we will fix this.

[2022-03-28 08:11] amolnater-qasource opened #257 "[All OS's]: Agent goes unhealthy when some other output is set to Default output."
**Kibana version:**  8.2 Snapshot Kibana cloud environment

**Host OS:** Windows

**Build details:**
VERSION: 8.2.0 Snapshot
BUILD: 51431
COMMIT: a743498436a863e142592cb535b43f44c448851a
Artifact link: https://artifacts-api.elastic.co/v1/search/8.2-SNAPSHOT

**Preconditions:**
1. 8.2 Snapshot Kibana cloud environment should be available.
2. Windows agent should be installed.

**Integrations:**
Sys

[2022-03-28 08:12] amolnater-qasource commented on #257
@manishgupta-qasource Please review.

[2022-03-28 08:27] manishgupta-qasource commented on #257
Secondary review for this ticket is Done

[2022-03-28 22:33] michel-laterman commented on #190
yeah, this should be pretty easy

[2022-03-28 22:43] nimarezainia commented on #149
sorry missed that. labels are KV pairs. Here we are just attaching a tag to the agent. I am not opposed to adding more labels but want to (a) avoid feature scope creep here, (b) rather approach what is needed for kubernetes in a holistic way so it can be shown in fleet as well.

[2022-03-29 07:05] jlind23 commented on #104
@blakerouse any update on this one?

[2022-03-29 12:52] jlind23 commented on #104
Per discussed with @blakerouse postponing it to 8.3
cc @nimarezainia @ph

[2022-03-29 18:36] #81 closed

[2022-03-29 18:36] #190 closed

[2022-03-29 18:36] #92 closed

[2022-03-29 20:27] #252 closed

[2022-03-30 11:06] jlind23 commented on #56
I do think we need both tests type.
The e2e testing repository is pretty useful for us to check some "basic" behaviour or the elastic agent on a huge bunch of different operating systems. This is truly needed as we will continue adding more and more OS along the way.

But, those e2e tests shouldn't replace at all the integration tests that we should put in place. Using test containers library defi

[2022-03-30 11:32] mdelapenya commented on #56
It would depend on the test of course. I'd suggest defining one simple test, and add the automation to run it in the current build.

But I'd prefere having a clear understanding of what test to write, and then "estimate" how much time it is.

[2022-03-30 12:48] narph opened #264 "Broken unified release build"
Error

[code]

Makefile https://github.com/elastic/elastic-agent/blob/main/Makefile#L6 expects version v.1.11.0 and removes the `github.com/elastic/elastic-agent-libs` package

[2022-03-30 13:53] #264 closed

[2022-03-30 14:19] mdelapenya opened #269 "Create a PoC integration test using testcontainers"
Starting up the agent container and checking that there is 4 processes running (2metricbeat 2filebeat) seems to be a good start right?

_Originally posted by @jlind23 in https://github.com/elastic/elastic-agent/issues/56#issuecomment-1083141472_

The idea is to use testcontainers-go: https://github.com/testcontainers/testcontainers-go/

[2022-03-30 14:26] ph commented on #257
@lykkin might be related to you changes?

[2022-03-30 14:28] ph commented on #245
Can we retest this scenario?

[2022-03-30 14:29] ph commented on #256
This is a duplicated of https://github.com/elastic/elastic-agent/issues/235

[2022-03-30 14:29] #256 closed

[2022-03-31 08:10] ChrsMark opened #274 "Duplicate data collection between generic inputs and specific integrations"
Today, we have generic inputs like `Container Logs` or `Custom Logs`. Based on dynamic variables and various providers we can also set this generic inputs to collect logs from all of the log files in a specific path.
For example in Kubernetes (or similarly in Docker) we can set the path like `/var/log/containers/*${kubernetes.container.id}.log` and we will have the input to be set for all the cont

[2022-03-31 09:05] amolnater-qasource commented on #245
Hi @ph
We have revalidated 8.2 Snapshot Kibana cloud environment and found it **still reproducible**.
- Agent upgrade fails and goes Unhealthy from 8.1.1>8.2 Snapshot.

**Build details:**
VERSION: 8.2.0
BUILD: 51431
COMMIT: a743498436a863e142592cb535b43f44c448851a
Artifact link for 8.1.1: https://www.elastic.co/downloads/past-releases/elastic-agent-8-1-1

**Screenshots:**
![1](https://user-images.

[2022-03-31 12:29] samratbhadra-qasource opened #275 "[Agent Upgrade]: Linux agent fails on upgrade from 7.16.3>8.1.2 Snapshot and goes Unhealthy."
**Describe the bug:**
Agent upgrade fails and goes Unhealthy from 7.16.3>8.1.2 Snapshot.

**Build Details:**
VERSION: 8.1.2-SNAPSHOT
COMMIT: 7dce1a1c7cf6aba8782d0af02fc2d95edb5be999
BUILD: 50688
ARTIFACT LINK OF 7.16.3: https://www.elastic.co/downloads/past-releases/elastic-agent-7-16-3

**Preconditions:**
1. Elastic 8.1.2-SNAPSHOT environment should be deployed.

**Steps to Reproduce:**
1. Login

[2022-03-31 17:39] joshdover commented on #275
Also getting this on my mac as well with similar error message:

[code]

[2022-03-31 17:58] ph commented on #275
@joshdover can you do a ls -l /Library/Elastic/Agent/data/elastic-agent-7f30bb/downloads/ ?

[2022-03-31 18:02] ph commented on #275
@joshdover Can you send me a diagnostic of one of the problematic host?

[2022-03-31 19:40] fearful-symmetry opened #276 "Migrate pprof init and mage code to elastic-agent-libs"
This is a continuation of an issue here https://github.com/elastic/elastic-agent-shipper/issues/6#issuecomment-1083645009 that I discussed with @ph .

Basically, as we start work on https://github.com/elastic/elastic-agent-shipper, there's a great deal of overlapping functionality with agent, but a lot of that functionality isn't importable and/or lives in `internal/` Part of that is the pprof HTT

[2022-03-31 19:43] ph commented on #274
I see duplication of logs because we have two inputs collecting the same files, because agent or event beats do not track reading of files into a unique

But what would be the correct behavior or what do you think Elastic Agent should do in this case?

Is this something that should be solved by making sure the data is collected once from the container logs have the necessary field associated to th

[2022-04-01 06:38] ruflin commented on #274
The ideal solution from my perspective is the routing pipeline. What we should not do is try to figure out that we collect a lot file twice in the above case in Elastic Agent. The reason is that we should keep inputs independent of each other.

At the same time, the above is a problem we should have a solution for also in the short term. Any ideas on how we could do this?

[2022-04-01 10:51] mtojek commented on #98
Friendly ping.

Did we manage to make any progress around this issue? Still bombing our [CI jobs](https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Felastic-package/detail/PR-772/2/pipeline)...

[2022-04-01 11:27] amolnater-qasource opened #281 "[Elastic-Agent]: No debug level logs generated under logs tab on setting logging level to debug."
**Kibana version:**  8.2 Kibana cloud-staging environment

**Host OS:** All

**Build details:**
VERSION: 8.2.0
BUILD: 51685
COMMIT: d18a093a2cf03991b93ea3de6a1054d580d3e82f
Artifact link: https://staging.elastic.co/8.2.0-8ea0c40f/summary-8.2.0.html

**Preconditions:**
1. 8.2 Kibana cloud-staging environment should be available.
2. Few Agents must be installed.

**Integrations:**
System and Endpoin

[2022-04-01 11:30] amolnater-qasource commented on #281
@manishgupta-qasource Please review.

[2022-04-01 11:32] manishgupta-qasource commented on #281
Secondary review for this ticket is Done

[2022-04-01 12:48] joshdover commented on #275
@ph below is the downloads directory and I sent you the diagnostic over DM.

[code]

[2022-04-01 12:58] ph commented on #274
@ruflin Actually, with the changes to filestream and ids, this makes reading multiple files a lot easier, I should say _possible_. Before moving to filestream it wasn't possible to read multiple times from the same files. I believe we were logging an error.

The only thing the agent or the input logic could do is to do consolidation of log paths, but I suspect this would be fragile and harder to m

[2022-04-01 13:41] jlind23 commented on #281
@amolnater-qasource @manishgupta-qasource are debugs logs available directly in the logs files?

[2022-04-01 20:45] nimarezainia commented on #284
@joshdover @zez3 this can't currently be done efficiently for it to make sense. These internal queues are a per beat concept and more closely aligned with writing to an output. Many of these parameters are there for users to modify the throughput they get from the beat. - closely aligned with the output queue parameters like bulk_max_size.

More thought is going into this with the new shippers wor

[2022-04-02 19:16] zez3 commented on #284
@nimarezainia

Is this not what we need? Or am I not missing something here? Also, what do you mean efficiently? Are you referring to the 2 extra fsyncs or some specific fs like btrfs, or spool file locking?

I am asking here for the option to be included in Fleet policy. With the appropriate limitations and page pool warnings, agreed.
Events are reaching(from syslog streams) the agent(or underlyi

[2022-04-04 04:19] axw opened #285 "8.2.0-BC1 sometimes does not send api_key through Elasticsearch output config"
Version: 8.2.0-BC1 (https://staging.elastic.co/8.2.0-8ea0c40f/summary-8.2.0.html)

1. Download the files in https://gist.github.com/axw/76ab9279f1c87adc70a753786ffd9f6b
2. Run `docker-compose up -d`
3. Wait for the Agent's status to be Healthy
4. Run `docker-compose exec fleet-server elastic-agent inspect`; there should be an api_key in the Elasticsearch output config
5. Edit the "apm" integration

[2022-04-04 09:18] amolnater-qasource commented on #281
Hi @jlind23
We have revalidated this issue and observed that:
- Issue is reproducible[most of the times] when Endpoint Security integration is added to the Agent Policy.
- However we have observed `debug` level logs in the log files.

**Screenshot:**
![1](https://user-images.githubusercontent.com/77374876/161513517-704688cc-d906-4646-9000-4c588d074f44.JPG)

**Logs:**
[logs.zip](https://github.com/

[2022-04-04 10:37] mdelapenya commented on #269
@jlind23 I've thinking about this specific test:

I consider it not to be a good candidate for the integration test suite because it implies a lot of things:
- we do not know how the agent was installed: the elastic-agent image, or a docker container with a TAR file installed on it
- the enrollment of the agent using a fleet-server
- the default package policy for the agent has been used telling t

[2022-04-04 11:04] amolnater-qasource opened #337 "[Inconsistent]: No logs under Agents>Logs tab for long time after installation."
**Kibana version:**  8.2 BC-1 Kibana cloud environment

**Host OS and Browser version:**
Ubuntu
Inconsistently on: Windows

**Build details:**
[code]

**Preconditions:**
1. 8.2 BC-1 Kibana cloud environment should be available.
2. Windows and Ubuntu agents must be installed.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agents>Agent logs tab.
3. Observe no logs avai

[2022-04-04 12:10] ph commented on #285
@axw I am taking a look, we did some changes in the output logic for elastic output. I see you have tested with the BC1 I am going to test with the daily snapshots.

[2022-04-04 12:45] jlind23 commented on #281
@ferullo out of curiosity, can endpoint interfere with the debug logs? Like avoiding debug in order to avoid credentials leaking or something like this?

[2022-04-04 13:22] ph commented on #285
I've tested with the 8.2.0-snapshot and not the BC1 and I don't have this behavior, I wonder if this is related to the changes in default configuration we have reverted. I am going to try our with the BC.

[2022-04-04 13:23] ph commented on #285
Preconditions using 8.2.0 snapshots (8.2.0-f531236e-SNAPSHOT)

## Test: 1 => Worked

[code]

## Test: 2 => Worked

[code]

## Test: 3 => Worked

[code]

## Test 4 => Worked

[code]

## Test: 5 => Worked

[code]

[2022-04-04 13:27] ph commented on #285
I have some issues with the docker repository working to get that fixed :(
[code]

[2022-04-04 18:45] jlind23 commented on #281
@amolnater-qasource could you please in discover that you have those logs? Maybe there is some filters in place

[2022-04-04 20:05] jlind23 commented on #275
@pjbertels do you also have endpoint integration enable?

[2022-04-04 20:26] ph commented on #294
Going to close this one, I don't really understand the case here.

[2022-04-04 20:26] #294 closed

[2022-04-04 20:58] michel-laterman commented on #275
I have not been able to recreate this so far, I've tried an `8.1.2-SNAPSHOT` cluster, with a policy that just has the system integration and a policy that has system+endpoint.

[2022-04-04 21:03] zez3 commented on #284
@joshdover
Is this is not available or will not be included in the upcoming release then please add the future shipper memory queue
https://github.com/elastic/elastic-agent-shipper/issues/7
on the roadmap

[2022-04-04 21:17] redundancydisorder commented on #275
I am seeing this same issue
`[elastic_agent][error] failed to dispatch actions, error: failed verification of agent binary: 2 errors occurred:
	* fetching asc file from '/opt/Elastic/Agent/data/elastic-agent-7f30bb/downloads/elastic-agent-8.1.2-linux-x86_64.tar.gz.asc': open /opt/Elastic/Agent/data/elastic-agent-7f30bb/downloads/elastic-agent-8.1.2-linux-x86_64.tar.gz.asc: no such file or director

[2022-04-04 23:20] michel-laterman commented on #275
@redundancydisorder, what integrations/os' are you running on?

[2022-04-04 23:28] redundancydisorder commented on #275
All agents that fail are running Ubuntu 18.04 or 20.04. The example from above that failed was just running the system integration. A couple agents are running Custom Logs.

Cluster and kibana were installed at 8.1.1 and just updated to 8.12. Agents can be added with 8.1.2 with no issues.

[2022-04-05 01:37] dedemorton commented on #296
Oh gosh...really sorry we didn't pick this up earlier, but I'll get it fixed!

[2022-04-05 11:53] amolnater-qasource commented on #281
Hi @jlind23
We have revalidated this issue and checked the `debug` level logs under Discover tab.
Info level logs were available under agent>Logs tab and no new `debug` level logs generated.
Further we didn't see any data for `log.level: "debug"` under discover tab too.

**Screenshot:**
![image (1)](https://user-images.githubusercontent.com/77374876/161745655-763e3cd6-4e21-4b7b-aaa3-2f02abcc9ba8.p

[2022-04-05 11:57] jlind23 commented on #281
@amolnater-qasource It means that info logs are continuously ingested but no debug logs right?
Could you please provide and Elastic Agent diagnostic? I'll check the logs files and format.

[2022-04-05 12:26] amolnater-qasource commented on #281
@jlind23

We haven't observed any new logs, those info level logs were pre-generated.

Please find below logs from elastic-agent diagnostics:
[elastic-agent-diagnostics-2022-04-05T12-12-38Z-00.zip](https://github.com/elastic/elastic-agent/files/8418030/elastic-agent-diagnostics-2022-04-05T12-12-38Z-00.zip)

Thanks

[2022-04-05 13:00] ph commented on #295
Going to close this one.

[2022-04-05 13:00] #295 closed

[2022-04-05 13:00] samoz83 commented on #275
We're getting the same as @redundancydisorder with agents running on Rocky 8.4/8.5. With a range of different integrations, but all have at least system and auditd integrations.

[2022-04-05 13:05] ph commented on #292
@bjmcnic Have you seen this issue recently? I will close it, feel free to reopen if you see it again.

[2022-04-05 13:55] WiegerElastic commented on #275
I am having the same issue with my deployment. I spun up a new deployment last night on Elastic Cloud, on version 8.1.1. Added the agents (2 VPSes, running Ubuntu server 20.04 LTS). Upgraded the stack to 8.1.2. Then wanted to proceed in upgrading the machines to Agent 8.1.2. Same error on both devices.

12:59:03.830
elastic_agent
[elastic_agent][info] 2022-04-05T12:59:03+02:00 - message: Applicati

[2022-04-05 14:25] joshdover commented on #275
@ph Should this be listed as an 8.2 blocker (assuming the problem is still present)?

[2022-04-05 15:48] blakerouse commented on #291
This was fixed here - https://github.com/elastic/beats/pull/30254

[2022-04-05 15:48] #291 closed

[2022-04-05 17:23] ph commented on #275
@joshdover @jlind23 I wouldn't consider this a blocker, the upgrade is still beta (experimental?)

[2022-04-05 18:34] redundancydisorder commented on #275
With debug log on no information is recorded between:
`State changed to UPDATING: Update to version '8.1.2' started - type: 'STATE' - sub_type: 'UPDATING'`
and
`State changed to FAILED: failed verification of agent binary: 2 errors occurred:`

At the same time the referenced directory:
`/opt/Elastic/Agent/data/elastic-agent-7f30bb/downloads/`
had zero changes to the file system on disk. It looks l

[2022-04-05 19:05] blakerouse commented on #302
This is no longer valid. The Elastic Agent does log to container standard out when running in the container.

[2022-04-05 19:05] #302 closed

[2022-04-05 19:24] blakerouse commented on #98
@narph Okay I have been looking at this today some and I think I have an idea that might be worth a try. So this seems to be only an issue with the container and I think it has to do with how the container executes the enrollment command and then entires the run mode.

So when the container starts and needs to enroll it spawns a subprocess for enrollment, and then waits for that process to finish.

[2022-04-05 20:00] michel-laterman commented on #275
Looks like the issue here was introduced as a side effect of https://github.com/elastic/beats/pull/30281

it effects `v8.1.1+`

[2022-04-05 21:02] ph commented on #98
@blakerouse Oh, this is indeed a possible cause. Also, the nature of the vfs and usually high io load on vm/containers machine could explain why we see this more often. I wonder if this is something that is happening in cloud.

[2022-04-05 21:03] ph commented on #304
@ChrsMark is this the right repository for these issues?

[2022-04-05 21:15] #296 closed

[2022-04-05 22:06] michel-laterman commented on #275
Changes from https://github.com/elastic/elastic-agent/pull/255/ will fix it if we need to backport to `8.1.x` if another release is planned as the download succeeded when attempting to upgrade from `8.2.0-SNAPSHOT` to `8.3.0-SNAPSHOT` (however the upgrade did not install correctly as the binary was not linked)

[2022-04-06 06:56] mtojek commented on #98
Few cents on my side:

CI uses Ubuntu machines, but I don't know if these images are tweaked by Elastic + docker on top. I'm not sure about the virtualization level. This is something we can log in there and check. I also managed to reproduce it once on my Docker for Mac.

We've been observing this problem since 7.16, so I guess that it affects all agents ever released?

[2022-04-06 09:06] amolnater-qasource commented on #281
Hi @jlind23
We have revalidated this issue on latest 8.2 Snapshot and found this issue still reproducible.
- No debug level logs gets generated under logs tab on setting log level to debug.

**Agents Used:**
VSphere Ubuntu 20
AWS Ubuntu 20.04

**Build details:**
BUILD: 51770
COMMIT: 9bec00d6c37b8b258d10e6f1dea3299f67db7540
Artifact Link: https://snapshots.elastic.co/8.2.0-fdfc79e3/downloads/beats/

[2022-04-06 10:02] AndersonQ commented on #281
@amolnater-qasource this `[filebeat-logs.zip](https://github.com/elastic/elastic-agent/files/8425239/filebeat-logs.zip)` are the filebeat-monitoring logs from `/opt/Elastic/Agent/data/elastic-agent-*/install/filebeat-8.2.0-linux-x86_64/logs/`?

[2022-04-06 10:21] AndersonQ commented on #281
checking the logs, I can find the same behaviour I saw yesterday, filebeat-monitoring does not correctly configure the output when it's restarted to apply the config change to log in debug level.

- on `filebeat-logs.zip/filebeat-20220406-1.ndjson` the ES address _**isn't**_ updated. Thus no log at all (debug, info, and so on) gets reported:
[code]

- on `filebeat-logs.zip/filebeat-20220406.ndjson

[2022-04-06 10:25] AndersonQ commented on #281
For the record, this is how I'd validate that filebeat-monitoring isn't harvesting the agent logs at all:

yup, that is what I'd check on a stack showing the problem:

Check is to see if filebeat-monitoring:
- has the correct output configured. Look for a log `elasticsearch url: http://localhost:9200` immediately followed by something like `elasticsearch url: https://a9f389508dfc4c5b81e5801067a562

[2022-04-06 11:30] narph commented on #98
@blakerouse , that sounds like what could be happening, but looking at the code it seems that we are syncing the files:

https://github.com/elastic/elastic-agent/blob/main/internal/pkg/agent/storage/disk_store.go#L65
https://github.com/elastic/elastic-agent/blob/main/internal/pkg/agent/storage/replace_store.go#L44

maybe I am missing something here.

[2022-04-06 11:34] narph commented on #64
done in the pr linked

[2022-04-06 11:34] #64 closed

[2022-04-06 11:51] jlind23 commented on #281
@AndersonQ with this PR: https://github.com/elastic/fleet-server/pull/1306/files#diff-85caf77b270865c04855a90fc60468c90130cd83d2218aa66f362b32c178f4e0

@ph fixed the output apiKey when no changes where made on the policy hash. Shouldn't we do that also for the output URL? Because if there is none, then agent will take the default one which is localhost:9200.

[2022-04-06 12:16] jlind23 commented on #269
@cmacknz @ph I may need your help here it is something impactful for the developer experience around the Elastic Agent V2.

[2022-04-06 12:36] ph commented on #149
@narph We have a field in the agent model called `user_provided_metadata`, IIRC the field is populated at enrollment in the fleet api, but the elastic agent doesn't always send an empty map.

https://github.com/elastic/fleet-server/blob/main/model/schema.json#L400-L404

[2022-04-06 13:29] amolnater-qasource commented on #281
Yes @AndersonQ We haven't observed any new logs after setting log-level to debug.

**Screenshot:**
![7](https://user-images.githubusercontent.com/77374876/161983836-4a63bab1-db24-46a9-8c6f-24e5832c23f3.JPG)

**Current Logs:**
[elastic-agent-diagnostics-2022-04-06T13-20-03Z-00.zip](https://github.com/elastic/elastic-agent/files/8427251/elastic-agent-diagnostics-2022-04-06T13-20-03Z-00.zip)
[filebea

[2022-04-06 13:46] ph commented on #98
@narph I've do remember the weird case of having to do a `fsync` on the parent directory to make sure the files was correctly created on disk.. looking at the rotation function `SafeFileRotate`, we are using this fsync directory`hack`. But we aren't using on the newly created file. This is a know [behavior](https://www.quora.com/When-should-you-fsync-the-containing-directory-in-addition-to-the-fil

[2022-04-06 13:52] blakerouse commented on #98
@narph I missed that it is performing the sync. Looking more at the code it is actually writting to a `.tmp` file first then rotating to replace the original file with `file.SafeFileRotate`. Looking at the code in `file.SafeFileRotate` it tries to open the parent directory and sync that (it is possible that is failing silently because of permissions in the container, the error is ignore). Maybe if

[2022-04-06 13:58] blakerouse commented on #98
The disk_store is used for writting the `fleet.yml` and the replace_store is used to write the `elastic-agent.yml`.

So its possible that the issue is really in replace_store. I do see that here https://github.com/elastic/elastic-agent/blob/main/internal/pkg/agent/storage/replace_store.go#L107 the newly written file is Fsync but the parent directory is not, like `file.SafeFileRotate`. Maybe that i

[2022-04-06 14:03] ph commented on #98
@blakerouse @narph  maybe, I see we aren't handling a `fsync` error too, would be good to at least change that.

[2022-04-06 14:15] ph commented on #275
@michel-laterman Can you backport the fix to the appropriate branches.

[2022-04-06 17:00] AndersonQ opened #307 "Collect [filebeat|metricbeat]-monitoring logs and config on diagnostics collect command"
**Describe the enhancement:**

Collect diagnostics for the monitoring filebeat and metricbeat as well

**Describe a specific use case for the enhancement or feature:**

In order to debug why the elastic-agent or beats logs and metrics aren't as e being collected or seems to be wrong/missing we need these logs

[2022-04-07 07:33] jlind23 commented on #149
@narph any update to share on the design document you are working on?

[2022-04-07 10:49] linghengqian opened #311 "Documentation lacks an introduction to the `FLEET_SERVER_ELASTICSEARCH_CA_TRUSTED_FINGERPRINT` environment variable"
**Describe the enhancement:**

- The document lacks the introduction to the `FLEET_SERVER_ELASTICSEARCH_CA_TRUSTED_FINGERPRINT` environment variable, I hope some friends can add it. Refer to https://www.elastic.co/guide/en/fleet/current/agent-environment-variables.html#env-bootstrap-fleet-server .

**Describe a specific use case for the enhancement or feature:**

- According to https://github.com/

[2022-04-07 11:58] narph commented on #98
@ph , @blakerouse , thanks for the clarification, I've created
https://github.com/elastic/elastic-agent/pull/312
https://github.com/elastic/elastic-agent-libs/pull/36 in order to improve the error handling and also to sync the parent directory.

[2022-04-07 13:33] linghengqian opened #313 "Add instructions to what need to `volumes` in the documentation for containerized deployments"
**Describe the enhancement:**

Add instructions to mount `/var/run/docker.sock` and more about `volumes` in the documentation for containerized deployments.

**Describe a specific use case for the enhancement or feature:**

- Assume that there is already an `ElatsicSearch` and `Kibana` instance locally, and `Elastic Agent` is being configured.
[code]
- When deploying Elastic Agent when configuring

[2022-04-07 14:36] blakerouse commented on #98
I wonder if it would even better to change replace_store to also use `SafeFileRotate` for the replacement of `elastic-agent.yml` as well.

[2022-04-07 19:20] ph opened #314 "Remove dependencies on beats in favor or elastic-agent-libs"
We are moving the libs to [elastic-agent](https://github.com/elastic/elastic-agent-libs)
The list below was generated using "rg "beats/v7 -l"

- [ ] dev-tools/mage/check.go
- [ ] internal/pkg/basecmd/version/cmd_test.go
- [ ] internal/pkg/core/process/process.go
- [ ] internal/pkg/core/plugin/process/start.go
- [ ] internal/pkg/core/monitoring/server/stats.go
- [ ] internal/pkg/core/monitoring/ser

[2022-04-11 06:22] harshitgupta-qasource opened #324 "[Fleet] Host goes offline and no able to enroll Endpoint integration after implementing some special character like €,Ø,Ę and many other."
**Description:**
  In Endpoint Security, Host goes offline after implementing some special character like €,Ø,Ę and many other are not accepted by Endpoint Policies.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Agent Should be Deployed.

**Steps to Reproduce:**
1. Navigate to Endpoint Tab from the left hand side navigation
2. Click

[2022-04-11 13:39] jlind23 commented on #275
@samratbhadra-qasource can you test it again with the latest snapshot from 8.1.X?

[2022-04-11 15:11] narph commented on #149
I was working on a proposal doc but I think I can summarize my findings in this comment.

The proposal above also contains overwriting the agent name by specifying the `agent_name` flag during enrollment/installation. Any reason we are not tackling that together with the tagging @jlind23 , @nimarezainia ?

**Tags field definition**

https://www.elastic.co/guide/en/ecs/current/ecs-base.html#field-t

[2022-04-11 18:39] cmacknz opened #321 "Allow reusing agent mage targets for the shipper"
A huge amount of functionality for the various build/format/update targets live inside the main magefile.go code. We should migrate these to "github.com/elastic/elastic-agent/dev-tools/mage" along with the linter and formatting targets, so the build/package roles can be by the shipper with (relative) ease.

[2022-04-11 18:41] cmacknz commented on #276
If we want to move https://github.com/elastic/elastic-agent-shipper/issues/6 forward with this path we'll have to do this ourselves.

I've split the mage portion into a separate issue (https://github.com/elastic/elastic-agent/issues/321) which I'll take care of.

[2022-04-12 06:40] jlind23 commented on #100
@cmacknz @kvch if we start working on the input in 8.4. Do you think this can be part of the work achieved?
Whatever the input we take, we should give more meaningful informations when it comes to this particular input state. Thoughts?

cc @ph

[2022-04-12 07:48] ruflin commented on #149
I would start simple and only implement tags to get started. For the ECS part, my understanding is that the data is stored in a system index which is not queried directly by the user. The key part is that the user can write queries in ECS format so if we don't store it in ECS, a translation must happen. For tags, I can foresee that in the UI that there is special block that proposes which tags can

[2022-04-12 09:50] joshdover commented on #149
@kpollich this is something we'll need to consider. We'd want the search bar on the agents page to use ECS field name even if the agent documents store the field by another name. We should be able to manipulate the KQL `kuery` to do this, I know of prior art elsewhere in Kibana if we need to copy it.

Alternatively, I wonder if we want to consider making the agent query bar ECS-compliant as a sepa

[2022-04-12 10:03] ruflin commented on #149
Why is that? Does the agent need to know about its own tags? ++ on delaying this conversations if in the first iteration we don't offer edits anyway in Fleet. One of the reasons I brought it up initially was that the decision might impact the data model.

[2022-04-12 10:38] joshdover commented on #149
Only if we ever want to add these tags to the data being ingested, which I have not heard a request for at this time. Agree we can defer on this.

[2022-04-12 14:28] jlind23 commented on #149
After discussing with PH, this is the path we want to take:
- We should be compliant with ECS
- We should rather use labels instead of tags as it will provide key/value pairs

Using labels it will close the gap with Kubernetes and docker integration and it will also give more flexibility to the UI filters.

Tags can be added afterwards if needed. We can also think about it this way:
- If we have a

[2022-04-12 15:13] jlind23 commented on #275
@samratbhadra-qasource can you tell me what was the commit sha used on the Elastic Agent snapshot?

[2022-04-12 15:14] narph commented on #149
@jlind23 , @ph  so to confirm here the workflow would be:

user enrolls/installs agent:

[code]

then map:
[code]

It might be worthwhile to model this more explicitly in the CLI invocation:

[code]

[code]

The fleet UI could then also separate `tags` and `labels` more distinctly.

Another question popped up, should we support certain known valid ECS labels as first class fields?

[code]

[code]

[2022-04-12 15:20] jlind23 commented on #275
@samratbhadra-qasource Where is this commit sha coming from: COMMIT: a05409860677938d5bbfc6c6065c85230f54848b
?

Is it a stack one? I do not see it in Beats repository.

[2022-04-12 15:25] belimawr opened #323 "IDs are required for filestream inputs on Filebeat monitoring"
When Elastic-Agent sets up the monitoring Filebeat, every filestream input used needs to have a unique and stable ID.

If unique IDs are not set, every Filebeat restart will lead to data duplication. If the IDs are not stable, files will be re-read from the beginning on a Filebeat (or input) restart.

The best way to ensure there are no issues with the filestream inputs is to watch out for the err

[2022-04-12 16:13] ph commented on #149
@narph I think you bring a pretty good point concerning the other ecs first class fields and maybe we indeed bring too much magic here. sorry @jlind23.

There are actually two needs:

1. I am using k8s or docker and I have a label/value structure.
2. I want to use ECS fields.

For 1, we can use what you are proposing:

[code]

This would generate the following data on the agent:
[code]

For 2, now

[2022-04-12 16:18] ph commented on #149
@ruflin  as mentioned by @joshdover https://github.com/elastic/elastic-agent/issues/149#issuecomment-1096552298

I haven't seen a request for adding all the label/tags data to every data ingested by the agent, I fear that would cause a log of headache between what a user set in the integration vs what a user set at enrollment time. They may not be the same person. We could at least add the informa

[2022-04-12 16:23] jlind23 commented on #149
@narph can we focus on Labels for now?

[2022-04-12 16:24] jlind23 commented on #86
For further conversation:
- We should be ECS compliant
- We should then use this particular field https://www.elastic.co/guide/en/ecs/current/ecs-agent.html#field-agent-name

[2022-04-12 16:30] ph commented on #149
@ruflin  I would like your opinion on prefixing `--ecs.*`, for me, I like it because it is explicit, It doesn't mean a user can override all the fields but at least it link with something `concrete`

[2022-04-13 04:40] tirelibirefe opened #330 ""Fleet Server - Waiting on default policy with Fleet Server integration""
### Elasticsearch Version

8.1.2

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.5", GitCommit:"c285e781331a3785a7f436042c65c5641ce8a9e9", GitTreeState:"clean", BuildDate:"2022-03-16T15:58:47Z", GoVersion:"go1.17.8", Compiler:"gc", Platform:"linux/amd64"} Server Version: version.Info{Major:"1"

[2022-04-13 05:12] samratbhadra-qasource commented on #275
Hi @jlind23,
We have deployed the **8.1.3-SNAPSHOT** kibana cloud  build from https://console.qa.cld.elstc.co/home.
This COMMIT is from the above deployed build.
**For your reference** we have provided below screenshot that we use use for capturing kibana build details.

**NOTE:** The screenshot is from the latest **8.1.3-Snapshot** build available on cloud-qa.
![Screenshot (353)](https://user-ima

[2022-04-13 07:22] jlind23 commented on #104
@blakerouse we discussed yesterday with @ph and @nimarezainia the outcome was that we shouldn't backport it and rather keep it for 8.3 and every further versions.

[2022-04-13 07:37] jlind23 commented on #275
Could you please use today's snapshot, the one with the "c44c8c" SHA? The previous one was a version built last week.

[2022-04-13 07:47] jlind23 commented on #324
Thanks @jen-huang for the heads up.

[2022-04-13 07:51] ruflin commented on #149
I think we are in the process of making something simple complicated. What is the core problem we are trying to solve here? The one I'm focusing on is having a very simple way to filter agents on. This is like filtering Github issues based on labels (in ECS tags). There can be 0-n tags for an Elastic Agent and in the agent list page I expect these to be shown beside each Elastic Agent in the UI.

[2022-04-13 10:48] amolnater-qasource commented on #245
Hi @jlind23
We have revalidated this issue on upgraded 8.2 Snapshot kibana cloud-qa environment from 8.1.3 Snapshot kibana.
We attempted to upgraded Windows, Linux .tar and MAC agents on this environment and found this issue **still reproducible**.
- Windows agent stuck in Updating state.
- Linux and MAC agent gets Unhealthy on triggering Agent upgrade.

**Build details:**
VERSION: 8.2.0
BUILD: 51

[2022-04-13 11:08] joshdover commented on #275
Since the problem was present on older versions of Agent, isn't this always going to be reproducible when trying to _upgrade from_ an affected to version even if the version that is being _upgraded to_ is fixed? @michel-laterman maybe you could confirm based on the nature of the fix.

If what I suspect is true, then it points to the very painful impact of having bugs in our upgrade code. We probab

[2022-04-13 11:40] jlind23 commented on #275
If you are trying to upgrade from an 8.1.1 or an 8.1.2 to something else indeed it will fail.
Otherwise it should be working.

Here @samratbhadra-qasource tried to upgrade from 7.16.3 to 8.1.3 if I am not misreading.

For the e2e test coverage it is an ongoing topic with manu in the e2e testing repository.
https://github.com/elastic/e2e-testing/issues/1643

[2022-04-13 13:11] jlind23 commented on #275
@samratbhadra-qasource looking again at the screenshot provided here: https://github.com/elastic/elastic-agent/issues/275#issuecomment-1096484869

It seems to be a timeout issue and an HTTP 404, I do not think this is related to the upgrade issue we have seen.

[2022-04-13 14:35] jlind23 commented on #245
@amolnater-qasource This is a network issue and not the upgrade issue we were talking about. Can you check a simple curl please?

[2022-04-13 14:35] amolnater-qasource commented on #275
Hi @jlind23
We had reported an issue on 7.15 Snapshot for this linux agent upgrade failure at https://github.com/elastic/elastic-agent/issues/148 (In case it is helpful).
We even attempted to troubleshoot doing various ways like increasing `agent.download.timeout: 300`. However issue didn't resolve.
Thanks!

[2022-04-13 15:10] jlind23 commented on #324
@harshitgupta-qasource I do not see any error messages in logs.
The only thing I found is a bad request:

Could you please test it again and generate a diagnostic on the failing agent AND a diagnostic on the fleet server?

[2022-04-13 15:18] jlind23 commented on #275
@amolnater-qasource and blake is currently working on this there: https://github.com/elastic/elastic-agent/issues/104

[2022-04-13 16:01] jlind23 commented on #330
@lykkin @juliaElastic could you help us out here?

[2022-04-13 17:14] ph commented on #324
@jen-huang The YAML configuration shared above was extracted from Fleet UI correctly?

[code]

Why we have `test€ing:` next to indices in the agent policy?

[2022-04-13 17:19] jen-huang commented on #324
@ph We use the policy name as the key for the set of permissions and data streams that policy needs.

(reposting from Slack for visibility 🙂)

[2022-04-13 17:19] ph commented on #324
after chatted with @jen-huang about this the testing looks ok.
IIRC the only non utf8 part of the agent policy would be `data stream` and afaik we do have validation in place for the editable part like namespace.

[2022-04-13 17:38] cmacknz commented on #321
The needed targets are now in elastic-agent-libs.

[2022-04-13 17:38] #321 closed

[2022-04-14 08:11] juliaElastic commented on #330
I don't see anything wrong in the kibana preconfiguration. It would be useful to check kibana logs to see if there were any errors while creating them at startup.
Also, it would be nice to check in Console to see if `Fleet Server on ECK policy` is created with `fleet_server` integration.
[code]

[2022-04-14 09:21] amolnater-qasource commented on #245
Hi @jlind23
We have revalidated this earlier too, to check if there is any internet issue on VMs, however internet was working fine.
Further to be sure, we have revalidated upgrading agent on a Windows and Ubuntu VM and found the issue is still reproducible.
- We are not able to upgrade agents to latest version 8.2 Snapshot.
- Internet on VMs was working fine.

**Build details:**
BUILD: 51911
COMM

[2022-04-14 09:24] jlind23 commented on #245
@amolnater-qasource did you succeed calling the exact same url with a curl in order to get the artifact? You got an http 404 in your logs which is definitely something else.

[2022-04-14 09:25] amolnater-qasource commented on #324
Hi @jlind23
We have revalidated this issue on latest 8.2 BC-3 Kibana cloud environment and found it **still reproducible**.
- On adding integration with special characters like €,Ø,Ę , we are getting errors like- Unable to communicate to Fleet Server.
- Later agent gets stuck in offline and online loop while trying to communicate to Fleet Server.

Please find below agent-diagnostics folder:
[elast

[2022-04-14 09:28] jlind23 commented on #245
@amolnater-qasource I tried the URL and there is no artifacts to download, that's why it's failing:
https://artifacts.elastic.co/downloads/beats/elastic-agent/elastic-agent-8.2.0-SNAPSHOT-linux-x86_64.tar.gz

This one works well: https://artifacts.elastic.co/downloads/beats/elastic-agent/elastic-agent-8.1.2-linux-x86_64.tar.gz

Shouldn't we target another registry as the 8.2.0 is not out yet?

[2022-04-14 09:38] amolnater-qasource commented on #245
@jlind23 I used below artifact link with curl command to download this 8.1.3 Snapshot artifact:
https://snapshots.elastic.co/8.1.3-bb164e02/downloads/beats/elastic-agent/elastic-agent-8.1.3-SNAPSHOT-linux-x86_64.tar.gz

Further I tried to run a curl with the url that is available under logs(which agent is trying to download while upgrading), that downloads artifact too:
![image](https://user-image

[2022-04-14 10:22] AndersonQ opened #334 "Remove the `internal` folder"
**Describe the enhancement:**

Remove the `internal` package, moving `pkg` and `spec` to the repo's root.

A `internal` folder has got a quite specific meaning and usage in Go. Since Go 1.4 a `internal` folder will limit the scope os exported names to only the packages in the same directory as the `internal` folder and its sub-directories.

**Describe a specific use case for the enhancement or fea

[2022-04-14 10:38] scunningham commented on #324
Fleet server logs would be helpful.

[2022-04-14 11:41] amolnater-qasource commented on #324
@scunningham Could you please share any steps how to fetch Fleet Server logs from a cloud build?

[2022-04-14 12:22] amolnater-qasource opened #335 "[Agent-Logs]: Agent gets Unhealthy temporarily and later no new logs under Fleet>agent Logs tab on adding endpoint security."
**Kibana version:**  8.2 BC-3 Kibana cloud environment

**Host OS:** Windows, Linux and MAC

**Build details:**
VERSION: 8.2.0 BC-3
BUILD: 51885
COMMIT: 2ea6dc82752506d6f7aa34bda747f99c6fbfd152
Artifact link: https://staging.elastic.co/8.2.0-0295c2db/summary-8.2.0.html

**Preconditions:**
1. 8.2 BC-3 Kibana cloud environment should be available.
2. Install few agents with policy having only System

[2022-04-14 12:23] amolnater-qasource commented on #335
@manishgupta-qasource Please review.

[2022-04-14 12:27] manishgupta-qasource commented on #335
Secondary review for this ticket is Done

[2022-04-14 18:59] jen-huang commented on #337
@jlind23/@ph This still seems to be flaky on the latest BC. Endpoint-related?

[2022-04-15 00:00] #104 closed

[2022-04-15 08:14] jlind23 commented on #245
@amolnater-qasource thanks for the update, but as you can see a timeout limit is reached. There should be something else happening.
@blakerouse as you recently work on this, is there any further debug we can do?

[2022-04-18 08:00] harshitgupta-qasource commented on #335
Hi Team,

We are facing this issue on Centos 8 if we add the ES integration after installing he agent. Also, the policy goes to failure state with the error message 'failed to enable protection in policy configuration' for Malware.

**Screenshot**
![image](https://user-images.githubusercontent.com/101545338/163776863-20a2d13f-cb0d-4384-a77b-7dc33f2d1a60.png)

Please let me know if any other inform

[2022-04-19 12:14] amolnater-qasource commented on #281
Hi Team
We have revalidated this issue on latest 8.2 Snapshot and found it still reproducible.
-  No debug level logs generated under logs tab on setting logging level to debug.

**Platforms:**
Windows and Linux

**Build details:**
BUILD: 51972
COMMIT: 44f2776a5ece1844358845994c9f4a2dfec4c4a4
![image](https://user-images.githubusercontent.com/77374876/164000082-a09d2eef-09e3-42a0-8625-2e6722e0150e

[2022-04-19 13:20] AndersonQ commented on #281
@amolnater-qasource to check this issue we'd need the logs from filebeat monitoring, the elastic-agent diagnostics collect command **does not** collect them.
They can be found on `/opt/Elastic/Agent/data/elastic-agent-*/install/filebeat-8.2.0-SNAPSHOT-linux-x86_64/logs`, or `/Library/Elastic/Agent/...` for mac and `C:\Program Files\Elastic\Agent\...` for windows.

Could you provide them so I can h

[2022-04-19 13:23] AndersonQ commented on #281
@ph, @nimarezainia should we consider it a blocker for 8.2? We do have the issue on previous versions thought. [The first attempt to fix it
](https://github.com/elastic/beats/pull/31240) was backported to 7.17 and 8.1

[2022-04-19 13:33] amolnater-qasource commented on #281
Hi @AndersonQ
Please find below filebeat logs below:
[logs.zip](https://github.com/elastic/elastic-agent/files/8513397/logs.zip)

Please let us know if anything else is required from our end.
Thanks

[2022-04-19 13:50] belimawr commented on #281
@AndersonQ, yes it should be backported to 8.2 as well. Let me see if I can get megify to create the backport PR.

[2022-04-19 13:54] belimawr commented on #281
Backport PR created: https://github.com/elastic/beats/pull/31346. Now let's wait for CI

[2022-04-19 14:21] narph commented on #98
@mtojek , which version are you testing with ? we merged https://github.com/elastic/elastic-agent/pull/312 and https://github.com/elastic/elastic-agent/pull/327 can you test with this fix in?

[2022-04-19 15:19] AndersonQ commented on #335
it seems a duplicate of #281

[2022-04-19 15:24] AndersonQ commented on #335
Let's wait https://github.com/elastic/beats/pull/31346 to get merged and published and test again. If the problem persists, we'll investigate further.

[2022-04-19 15:35] ph commented on #337
@jen-huang  I would think it's linked to https://github.com/elastic/beats/pull/31346 @belimawr

[2022-04-19 19:20] ph commented on #98
Looking at the log it seems to be 8.2, is that the BC or the snapshot?

[2022-04-19 19:22] jen-huang commented on #337
@vipulsrivastava-qasource Looks like a possible fix was just merged, could you re-test on the next snapshot or BC (BC4)?

[2022-04-19 21:39] mtojek commented on #98
It's always the latest SNAPSHOT of a version.

[2022-04-20 08:07] AndersonQ opened #350 "Update Go to v1.17.9"
**Describe the enhancement:**

Update Go to 1.17.9

**Describe a specific use case for the enhancement or feature:**

It's a security patch, see the changelog [here](https://go.dev/doc/devel/release#go1.17.minor).

[2022-04-20 08:29] #213 closed

[2022-04-20 08:35] amolnater-qasource commented on #245
Hi @blakerouse
As per feedback we have revalidated this issue on latest 8.3 Snapshot by upgrading 8.2 Snapshot agents.
We had below observations:
- Windows and MAC agent upgraded successfully.
- Linux agent gets unhealthy after triggering upgrade from Fleet UI.

**Build details:**
BUILD: 52217
COMMIT: 9430e41eb29640692d2d60ee93178726fdc356b4
Artifact Link: https://snapshots.elastic.co/8.2.0-a7e951

[2022-04-20 12:36] narph opened #352 "[Flaky Test] - TestDownloadBodyError"
## Flaky Test

* **Test Name:** TestDownloadBodyError
* **Link:** [Link to file/line number in github.](https://github.com/elastic/elastic-agent/blob/main/internal/pkg/artifact/download/http/downloader_test.go#L28)
* **Branch:** main
* **Notes:** It happens quite often, can be reproduced locally (Windows 11) 9/10 times

### Stack Trace

[code]

Line https://github.com/elastic/elastic-agent/blob/6d

[2022-04-20 12:44] narph opened #353 "e2e tests failing - error `Header doesn't match the format`"
e2e tests failing atm
https://fleet-ci.elastic.co/blue/organizations/jenkins/e2e-tests%2Fe2e-testing-mbp/detail/8.2/16/pipeline

[code]

[2022-04-20 12:49] narph opened #354 "[Flaky Test] e2e testing - system_integration && ~@nightly Test on debian_arm64"
## Flaky Test

* **Test Name:** Name of the failing test.
* **Link:**  https://fleet-ci.elastic.co/blue/organizations/jenkins/e2e-tests%2Fe2e-testing-mbp/detail/8.2/20/pipeline
* **Branch:** main
* **Notes:** Happening often

### Stack Trace

[code]

[2022-04-20 13:05] ph commented on #352
@blakerouse seems related to the download change?

[2022-04-20 14:13] #352 closed

[2022-04-20 14:49] mdelapenya commented on #354
Hi @narph I'd say these tests are the ones that @AndersonQ is currently investigating. He can provide more context than me, although I feel we are hitting certain flakiness, because when the tests fail, they do it in the same architectures and OSs: Debian ARM and SLES15.

[2022-04-20 14:53] mdelapenya commented on #353
I think the error comes from Ansible when provisioning the VM on AWS:

[2022-04-14T13:47:48.282Z] failed: [localhost] (item={'id': 'i-0cd885e2817250e3d', 'ami_launch_index': '0', 'private_ip': '172.31.9.106', 'private_dns_name': 'ip-172-31-9-106.us-east-2.compute.internal', 'public_ip': None, 'dns_name': '', 'public_dns_name': '', 'state_code': 16, 'architecture': 'arm64', 'image_id': 'ami-06dac44

[2022-04-20 15:14] AndersonQ commented on #354
@mdelapenya  I haven't managed to run the tests to reproduce the error and try to get more info. Even thought I'm using the jenkins node that the test failed on, they don't even run when I try

[2022-04-20 15:16] #105 closed

[2022-04-20 23:14] eric-ooi commented on #275
Upgrading from 8.1.1/8.1.2 to 8.1.3 on Linux and Windows continues to fail for me.

[2022-04-21 05:19] amolnater-qasource commented on #337
Hi @jen-huang
We have revalidated this issue on latest 8.2 BC-4 Kibana cloud environment and found it fixed now.
- Logs are available under Agent>Logs tab for installed agents.

**Platforms Validated:**
- Windows
- Ubuntu
- Centos
- MAC

**Build details:**
BUILD: 52005
COMMIT: 9a5003d8cf0062bf24ef64d6712b44823888cc03
Artifact Link: https://staging.elastic.co/8.2.0-3b2b9b86/summary-8.2.0.html

**Sc

[2022-04-21 05:19] #337 closed

[2022-04-21 05:23] amolnater-qasource commented on #281
Hi Team
We have revalidated this issue on latest 8.2 BC-4 Kibana cloud environment and found it fixed now.
- Debug level logs are now available after setting logging level to `debug`.

**Platforms Validated:**
- Windows
- Ubuntu
- Centos
- MAC

**Build details:**
BUILD: 52005
COMMIT: 9a5003d8cf0062bf24ef64d6712b44823888cc03
Artifact Link: https://staging.elastic.co/8.2.0-3b2b9b86/summary-8.2.0.htm

[2022-04-21 05:23] #281 closed

[2022-04-21 06:18] amolnater-qasource commented on #335
Hi Team
We have revalidated this issue on latest 8.2 BC-4 Kibana cloud environment and found it fixed now.
- Agent doesn't go unhealthy and new logs are generated under Fleet>agent Logs tab on adding endpoint security.

**Platforms Validated:**
- Windows
- Ubuntu
- Centos
- MAC

**Build details:**
BUILD: 52005
COMMIT: 9a5003d8cf0062bf24ef64d6712b44823888cc03
Artifact Link: https://staging.elastic.

[2022-04-21 06:18] #335 closed

[2022-04-21 06:37] amolnater-qasource commented on #257
Hi Team
We have revalidated this issue on latest 8.2 BC-4 Kibana cloud environment and found it reproducible on all OS's.
We have updated the title to avoid any confusions.
- We have set another output under policy settings, and it gets Agents Unhealthy.

**Integrations:**
System and Endpoint Security

**Platforms Validated:**
- Windows
- Ubuntu
- Centos
- MAC

**Build details:**
BUILD: 52005
COMM

[2022-04-21 08:16] amolnater-qasource commented on #245
Hi Team
We have revalidated this issue on latest 8.2 Snapshot by upgrading 8.1.3 Snapshot agents.
We had below observations:
- Windows and MAC agent upgraded successfully.
- Linux agent gets unhealthy and fails to upgrade.

**Build details:**
BUILD: 52012
COMMIT: 14a83300ba28df6c7f5318c4f3fe86f29369438d
Artifact Link: https://snapshots.elastic.co/8.1.3-0c4e7b42/downloads/beats/elastic-agent/elasti

[2022-04-21 12:45] #350 closed

[2022-04-21 14:41] blakerouse commented on #275
This is definitely a timeout issue. You can see the upgrade started at 12:54:55.063 and the timeout error message is logged at 12:56:56.460. Which is roughly 1min 30secs which is the default timeout for download, in version 8.0.1. Version 8.3.0 changed this value to 10 minutes, that will help with these type of issues.

Just because Windows and Mac finished is probably just a timing issue. The lin

[2022-04-21 15:49] blakerouse commented on #245
Upgrading from 8.2 to 8.3 does use the fix. The fix is only present in 8.3.0-SNAPSHOT. Meaning you must already be on 8.3.0-SNAPSHOT to get the fix. So you need to install 8.3.0-SNAPSHOT and then upgrade to 8.3.0-SNAPSHOT (I assume Kibana allows that).

[2022-04-21 17:50] sgtsnooky commented on #90
Hi all,
I am still experiencing this issue on 8.1.2.

[elastic_agent.filebeat][error] Error extracting container id

[2022-04-21 17:53] nimarezainia commented on #275
@samratbhadra-qasource would it be possible to repeat this test between two 8.3 snapshots to confirm it's fixed? we will work on getting the fix back ported.

[2022-04-21 18:01] jen-huang commented on #337
Thanks @amolnater-qasource for validating, this is a relief!

[2022-04-21 18:20] nimarezainia commented on #141
@ajoliveira pls let me know. At the moment ideally I'd like to concentrate on customer found enhancement requests

[2022-04-21 18:41] ajoliveira commented on #141
@nimarezainia Yes, this was found as an issue at a customer installation.  Details were provided in direct a e-mail and while it was originally specific to metricbeat, I'll defer to you as to when and how we can implement this.  While not optimal, there is a workaround if needed in the meantime.

[2022-04-21 20:07] ph commented on #222
#  Formats
## Proposal 1
### Example 1 - For filebeat

[code]

### Example 2 - For Metricbeat
 TBD

### Example 3 - For Endpoint
[code]

## Proposal 2
[code]

## Build work flow

[code]
## Trust
TBD

[2022-04-21 20:20] ph commented on #222
After discussing with @blakerouse  we are looking at proposal 2, I am going to redo the above to make it more clearer and send it for review.

[2022-04-24 22:11] mbudge opened #380 "Improve Elastic Agent integrations logging"

[2022-04-25 05:56] samratbhadra-qasource commented on #275
Hi @nimarezainia,

We have validated this issue on  **02** latest **8.3.0-Snapshot** cloud environments and had below observations.

We have upgraded:

- 8.0.1 released agents with endpoint Security on all OSs to 8.3.0-Snapshot build.
- 8.1.3 released agents with endpoint Security  on all OSs to 8.3.0-Snapshot build.

**Agent upgrade:**
Windows: PASS
Linux: still FAILING
MAC: PASS

**Screenshot:**

[2022-04-25 05:56] #275 closed

[2022-04-25 06:11] amolnater-qasource commented on #245
Hi @blakerouse
Yes we have validated this upon 8.3 Snapshot and detailed results are shared above at https://github.com/elastic/elastic-agent/issues/245#issuecomment-1103621142
- Windows-MAC upgraded successfully.
- Linux agent failed to upgrade.

Further as Windows and MAC agent upgrade issue is resolved on 8.2 Snapshot.
We are closing this issue and will be keeping track of failed Linux agent up

[2022-04-25 06:11] #245 closed

[2022-04-25 06:12] amolnater-qasource commented on #173
Hi Team pasting latest results from https://github.com/elastic/elastic-agent/issues/245
We have revalidated this issue on latest 8.2 Snapshot by upgrading 8.1.3 Snapshot agents.
We had below observations:
- Windows and MAC agent upgraded successfully.
- Linux agent gets unhealthy and fails to upgrade.

**Build details:**
BUILD: 52012
COMMIT: 14a83300ba28df6c7f5318c4f3fe86f29369438d
Artifact Link:

[2022-04-25 06:21] amolnater-qasource commented on #173
Results on latest 8.3 Snapshot by upgrading 8.2 Snapshot agents.
We had below observations:
- Windows and MAC agent upgraded successfully.
- Linux agent gets unhealthy after triggering upgrade from Fleet UI.

**Build details:**
BUILD: 52217
COMMIT: 9430e41eb29640692d2d60ee93178726fdc356b4
Artifact Link: https://snapshots.elastic.co/8.2.0-a7e9513d/downloads/beats/elastic-agent/elastic-agent-8.2.0-S

[2022-04-25 06:21] amolnater-qasource commented on #173
FYI @blakerouse @jlind23

[2022-04-25 06:23] jlind23 commented on #173
@amolnater-qasource still waiting for Blake's fix on this.

[2022-04-26 02:41] matschaffer opened #371 "error fetching io.pressure in agent logs even when only using prometheus policy"
I'm running agent inside docker via this docker-compose configuration https://github.com/matschaffer/elastic-otel-metrics/blob/main/docker-compose.yml#L4-L9

The agent is being enrolled into a "prometheus-otel" polic that I create than only has the prometheus metrics integration.

Here's the full policy:

<details>
<summary>prometheus-otel.policy.yml</summary>

[code]
</details>

When I do this th

[2022-04-26 07:43] v1v commented on #353
Maybe related to the service interruption with the OTEL Collector, it has been down for a few days in a row, although I think it's now recovered.

[2022-04-26 07:43] mdelapenya commented on #353
@narph I'm transferring this issue to the e2e-testing repo, as I think it's a potential bug, or inconsistency, coming from the provisioning part

[2022-04-26 07:49] mtojek commented on #98
Any update on this issue?

Fresh occurrences:
[tenable_sc](https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/PR-3126/9/artifact/build/elastic-stack-dump/tenable_sc/logs/elastic-agent.log)

[2022-04-26 07:49] mtojek commented on #98
ping @narph @blakerouse

[2022-04-26 08:52] jlind23 commented on #98
@mtojek it has been merged in 8.2, this is probably why you still see it on an 8.1 stack

[2022-04-26 12:20] jlind23 commented on #173
@cachedout - @blakerouse added some more debugs logs through this particular PR: https://github.com/elastic/elastic-agent/pull/308

[2022-04-26 12:36] ph commented on #98
Agree, I though it was still present in 8.2 :)

[2022-04-26 12:39] amolnater-qasource commented on #173
Hi Team
While validating kibana upgrades from released cloud builds 7.13.4>7.14.2>7.15.2>7.16.3>7.17.3>8.0.1>8.1.3>8.2.0.

We have observed that linux agent upgraded successfully from 7.13.4>7.14.2.
However from 7.15.2 none of the build was able to upgrade Linux .tar agent.

Thanks

[2022-04-26 12:57] jlind23 commented on #173
@amolnater-qasource it always happened with endpoint security enabled?

[2022-04-26 13:10] amolnater-qasource commented on #173
Yes @jlind23 we had endpoint security integration added to the linux .tar agent.
Thanks

[2022-04-26 14:26] narph commented on #149
created issue for doc changes https://github.com/elastic/observability-docs/issues/1819

[2022-04-26 14:30] ph commented on #222
I've send the proposal to review, will update this issue with the conclusion.

[2022-04-26 15:06] nimarezainia commented on #138
we plan to add processors globally which I believe would address this

[2022-04-26 15:06] #138 closed

[2022-04-26 15:34] nimarezainia commented on #191
@AndersonQ and @ph how do we want to proceed with this issue? as the enhancement i think we start in parallel and provide a time out.

the bug here seemed *manufactured* but in the future when something fails to install in the interval provided - I agree that is a bug and needs to be resolved.

[2022-04-26 16:13] jlind23 commented on #98
But did it really fixed it? If yes, then we will talk about the backport tomorrow during our team weekly.

[2022-04-26 16:15] jsoriano commented on #98
Oh ok, I thought this was already fixed in main.

[2022-04-27 07:29] mtojek commented on #98
Fun fact, I just found a variation of the issue in 7.14.1 (`line 45: did not find expected key`):

[code]

[log file](https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/PR-3198/1/artifact/build/elastic-stack-dump/zscaler/logs/elastic-agent.log)

[2022-04-27 09:04] AndersonQ commented on #191
Sounds like a plan

Sorry I don't follow, what do you mean by _bug here seemed **manufactured**_?

Anyway regarding failing to to install/start an application I believe the desired outcome is:
 - once it fails to install an application, mark the application as "failing", keep the agent as "configuring" on fleet-ui, move to the nest application in the list
 - once all applications are installed (ei

[2022-04-27 11:39] jlind23 commented on #173
And without endpoint it is working well right? If yes, could you please try an 8.3 upgrade as @blakerouse put some new logs in place that may help us.

[2022-04-27 12:22] ph commented on #191
I agree with your plan above @AndersonQ.

Is this following assumption correct, we have a counter in place for each application, on failure the counter is increased to a set maximun, when the maximun is reached we move it to unhealth and we stop retry to install the application. If a new agent policy is received the counter is reset to 0 and we retry again.

[2022-04-27 12:26] ph commented on #98
@mtojek we are running a test for 7.14?

[2022-04-27 12:39] jlind23 commented on #98
As seen with @mtojek there is no further occurence in 8.2, thus we can close this issue and rather update the PR with the appropriate backport label after today's discussion.

[2022-04-27 12:39] #98 closed

[2022-04-27 12:40] jlind23 commented on #380
@mbudge thanks for raising this, can I close this one as it seems to be a duplication of #100 ?

[2022-04-27 12:41] mtojek commented on #98
So far...

We are running system tests against the latest supported stack. In some cases, this is 7.14.

[2022-04-27 13:03] ph commented on #79
Actual work in https://github.com/elastic/elastic-agent/issues/100 will close this one.

[2022-04-27 13:03] #79 closed

[2022-04-27 13:05] jlind23 commented on #151
Per discussed with @AndersonQ Only the universal is missing for now, keeping it into the backlog for the moment.

[2022-04-27 20:43] blakerouse commented on #245
So I miss typed my comment:

8.2 to 8.3 **DOES NOT** use the fix

[2022-04-28 06:00] matschaffer commented on #371
Ah, looks like I can avoid this if I disable agent metrics & logs in the policy settings

![Screen Shot 2022-04-28 at 15 00 23](https://user-images.githubusercontent.com/690/165686944-5cd59695-5dad-4ac1-9638-d31e92a8aa41.png)

[2022-04-28 07:23] amolnater-qasource commented on #173
Hi @jlind23
We have revalidated this issue on 8.3 Snapshot by upgrading 8.2 linux agent.
- We are now **successfully able to upgrade Linux agent** on 8.3 Snapshot with and without endpoint security.

**Build details:**
BUILD: 52349
COMMIT: eaf47aeb1af9b935685fe12f5591be498999a9ab
Artifact Link: https://snapshots.elastic.co/8.2.0-8b4cfac3/downloads/beats/elastic-agent/elastic-agent-8.2.0-SNAPSHOT-l

[2022-04-28 07:58] jlind23 commented on #217
@blakerouse May I assign this to you as you'll be working on it with Alex?

[2022-04-28 07:59] jlind23 commented on #257
@lykkin any progress here

[2022-04-28 08:04] jlind23 commented on #314
@ph shouldn't we close this PR as it will be fixed by : https://github.com/elastic/elastic-agent/pull/344 ?

[2022-04-28 08:28] mbudge commented on #380
Yes as long as we can monitor the state of the integrations from a single interface.

Also collecting elastic-agent diagnostic logs is very time consuming in an enterprise environment.

[2022-04-28 08:45] narph commented on #98
backport for 7..17 https://github.com/elastic/beats/pull/31449

[2022-04-28 09:26] tetianakravchenko opened #385 "Document how to disable kubernetes_leaderelection provider"
Add documentation that provider, like https://www.elastic.co/guide/en/fleet/master/kubernetes_leaderelection-provider.html can be disabled.

[2022-04-28 09:31] oren-zohar commented on #143
The debug logging option is also crucial for cloudbeat. We are less concerned about log level per input and even a log level that's inherited from the agent log level / env var would be helpful. Maybe we can start with that and reiterate once we have a complete definition?
I would happy to help with implementing some basic way of controlling the log level to speed things up.

[2022-04-28 09:34] kvch commented on #314
There is one more small dependency on Metricbeat as well. I will address that in a new PR today.

[2022-04-28 09:44] jlind23 commented on #314
@kvch can i close this issue then?

[2022-04-28 09:47] jlind23 commented on #143
@oren-zohar starting with a global log level sounds good as a first step. If you give a first try at it let me know and i'll find someone to help you out if needed.

[2022-04-28 10:08] AndersonQ opened #386 "Investigate if elastic-agent is affected by CVE-2022-29583"
Dependabot reported we're affected by CVE-2022-29583, as we use `github.com/kardianos/service` which is the source of this vulnerability.

## Investigation

**tl;dr: false positive**

The authors state that this is indeed a false positive. Even thought they don't the executable path, they underlying library they use do so. I double checked and indeed they use `golang.org/x/sys` that in turn calls

[2022-04-28 10:13] AndersonQ commented on #386
https://github.com/advisories/GHSA-xm99-6pv5-q363, is a false positive.

[2022-04-28 10:13] #386 closed

[2022-04-28 12:00] AndersonQ commented on #191
I'd need to investigate the details. I imagine the counter is only for checkin, not installation attempts.

[2022-04-28 14:07] jlind23 commented on #191
I scoped it for 8.4, we will do the investigation in 8.4 release.

[2022-04-28 14:15] jlind23 commented on #380
@nimarezainia do you know if we have any feature issue to collect agent diagnostic from fleet ui interface?

[2022-04-28 14:16] jlind23 commented on #173
This really seems to be flaky and network related. Can we close this issue as it will never be fixed on 7.15?

[2022-04-28 15:04] blakerouse commented on #173
This was just backported to 8.2 yesterday - https://github.com/elastic/elastic-agent/pull/382

[2022-04-28 16:57] lykkin commented on #257
In the logs we see
[code]
repeated many times. Out of curiosity, if you remove endpoint from the agent does the issue still occur?

Also pinging @elastic/endpoint in case this is a known issue.

[2022-04-28 19:15] blakerouse opened #390 "Liveness Probe HTTP Endpoint"
**Describe the enhancement:**

Currently the Elastic Agent running in a container does not have a `liveness` HTTP endpoint where kubernetes can check the overall health of the Elastic Agent container. This needs to be added so that in the case that the Elastic Agent is not working correctly it can be restarted by Kubernetes.

Some items that would be good for the liveness probe to be alerted to on

[2022-04-28 19:18] ph commented on #390
@jlind23 @nimarezainia We should discuss this with our priority with @norrietaylor for the endpoint on k8s project.

[2022-04-29 11:10] intxgo commented on #257
Trying to start another TCP server on the same port is a well known issue, but not related to any particular product. It's not possible.

I have no idea why or how endpoint-security ends being mentioned in the log. Maybe the server on 6788 is only for ElasticEndpoint, other beats connect directly to 6789?

[2022-04-29 11:36] amolnater-qasource commented on #257
Hi @lykkin
We have revalidated this issue on latest 8.2 BC-4 and yes we have observed that agent goes to unhealthy state only when Endpoint Security is added to it.
**Issue is not reproducible without ES.**

**Build details:**
BUILD: 52005
COMMIT: 9a5003d8cf0062bf24ef64d6712b44823888cc03
Artifact Link: https://staging.elastic.co/8.2.0-3b2b9b86/summary-8.2.0.html

**Screenshot:**
![image](https://u

[2022-04-29 12:53] narph commented on #149
also update mapping in `elasticsearch` repo https://github.com/elastic/elasticsearch/pull/86298

[2022-04-29 13:47] ferullo commented on #257
Can you share elastic-endpoint.yaml?

[2022-04-29 20:25] michel-laterman opened #393 "support scheduled actions"
**Describe the enhancement:**

The agent should be able to handle actions with a `start_time` and `expiration` attribute.
These attributes can be used to schedule an action to occur at a later date.
`start_time` determines when the action should start, and `expiration` is when it is valid until (if the action has not occured it should ack as failed/aborted).

The scheduled actions should be persis

[2022-05-02 07:38] amolnater-qasource opened #396 "[Error Logs]: Filebeat and Metricbeat failed error logs on rebooting Ubuntu tar.gz agent."
**Kibana version:**  8.2 BC-4 Kibana cloud environment

**Host OS:**  Ubuntu tar.gz

**Build details:**
VERSION: 8.2.0 BC-4
BUILD: 51431
COMMIT: a743498436a863e142592cb535b43f44c448851a
Artifact link: https://staging.elastic.co/8.2.0-3b2b9b86/downloads/beats/elastic-agent/elastic-agent-8.2.0-linux-x86_64.tar.gz

**Preconditions:**
1. 8.2.0 BC-4 Kibana cloud environment should be available.
2. Ubun

[2022-05-02 07:38] amolnater-qasource commented on #396
@manishgupta-qasource Please review.

[2022-05-02 08:26] jlind23 commented on #396
Lets fix the fleet server issue first.

[2022-05-02 08:54] manishgupta-qasource commented on #396
Secondary review for this ticket is Done

[2022-05-02 10:32] amolnater-qasource commented on #257
Hi @ferullo
Please find below elastic-endpoint.yaml from 8.2 BC-4 Endpoint:
[elastic-endpoint.zip](https://github.com/elastic/elastic-agent/files/8602291/elastic-endpoint.zip)

Please let us know if anything else is required from our end.
Thanks

[2022-05-02 15:29] jlind23 commented on #275
@mukeshelastic download timeout can be configured indeed. Moreover Blake worked on a progress reporter: https://github.com/elastic/elastic-agent/pull/308
It will give users much more insights about it.

[2022-05-02 17:59] philippkahr commented on #100
Will the agent go unhealthy only if the integration is not "installable", or will it also catch if an integration is writing error.message fields since it cannot connect to xyz? (e.g. https://github.com/elastic/integrations/issues/3074)

[2022-05-03 06:30] jlind23 commented on #100
@philippkahr the goal is to catch also when the integration is failing. But then it's going to be up to the integrations developer to properly report statuses.

[2022-05-03 08:42] intxgo commented on #257
The endpoint log looks fine. Endpoint connects successfully to Agent.

The former log is an Agent log:
[code]
It looks like the Agent is trying to start duplicate TCP server on `localhost:6788`. This localhost port is used by Endpoint as bootstrap connection port. It's really not related to any stack Output and since it's not possible to run several Endpoints on the same host it would make no sens

[2022-05-03 08:48] jlind23 commented on #257
@intxgo the other output may have been logstash in this case but we need to keep the Elasticsearch one as it is the one used for Elastic Agent API key and so on..

[2022-05-03 09:28] intxgo commented on #257
I see, so it's expected to have Endpoint output data (events and alerts) to both Elasticsearch and Logstash at the same time if configured.

[2022-05-03 10:36] #385 closed

[2022-05-03 12:39] simranvaseer-qasource opened #404 "[Fleet]:Windows Agent is terminated after taskkill command and agent goes Unhealthy"
**Kibana version**: 8.2 BC-4 Kibana cloud environment

**Host OS and Browser version**: All, All

**Build details:**

VERSION: 8.2.0
BUILD: 52005
COMMIT: 9a5003d
Artifact Link: https://staging.elastic.co/8.2.0-3b2b9b86/summary-8.2.0.html

**Preconditions:**

- 8.2 BC4 Kibana cloud environment should be available.
- Windows Agent should be installed with policy having System and Endpoint Security

[2022-05-03 12:53] maneta commented on #390
Hey folks, we are also hitting an issue in the synthetics-service (https://github.com/elastic/synthetics-service/issues/435) where the agent fails in acquire the leader lease:

[code]

We think that this issue might be caused by the Apiserver being too slow to provide the lease. We are digging into metrics to certify that, but for now, the only solution we have to re-establish the agent is to manu

[2022-05-03 13:01] rbrunan commented on #390
I would like to add to @maneta's comment that we would need an auto-recover mechanism for this leader lease loss. I mean, we should retry until the API is available again, to get the degraded metricset working again.

[2022-05-03 13:49] blakerouse commented on #173
The fix will never go back to `8.1` as there is not going to be another release. It should be in `8.2-SNAPSHOT` so you could test that to `8.3-SNAPSHOT`. It just landed in `7.17` today so next snapshot of `7.17` should fix the upgrade from `7.17-SNAPSHOT`.

[2022-05-04 07:08] jlind23 commented on #257
Nope, only one should be used then.

[2022-05-04 07:09] jlind23 commented on #257
@ph shouldn't we change something on Fleet-ui/Elastic  Agent end to avoid having two default outputs?

[2022-05-04 07:46] jlind23 opened #402 "Elastic Agent - Fix all linting issues with dependencies - Go mod replace"

[2022-05-04 14:17] Chadwiki commented on #173
I am seeing this fail on Windows, Linux, and MAC. Endpoint is not enabled for these policies.

## Windows
[elastic_agent][error] 2022-05-04T09:21:00-04:00 - message: Application: [2be01bb1-e5d0-4e43-9a7a-74fb679bb7ab]: State changed to FAILED: failed verification of agent binary: 2 errors occurred:
	* hash for 'elastic-agent-8.2.0-windows-x86_64.zip' not found in 'C:\Program Files\Elastic\Agent\da

[2022-05-04 14:55] eric-ooi commented on #173
Looks like upgrading from 8.1.0 or 8.1.3 to 8.2.0 works (yay!).  Unfortunately, 8.1.1 and 8.1.2 continue to fail (boo!).  From what I can tell, it looks like @Chadwiki was upgrading from 8.1.1.

[2022-05-04 18:49] joshdover commented on #173
My understanding is that we cannot fix this since the fix would need to be included in the binary you’re upgrading from, so upgrading from 8.1.1 and 8.1.2 will never succeed. These agents need to be unenrolled, uninstalled, and re-enrolled with a working version (8.1.3+).

[2022-05-04 18:54] eric-ooi commented on #173
Yeah, I figured as much and saw the note in the 8.1.2 release notes confirming that.  Had hoped that there might be some other fix that could accommodate the issue in later releases, but doesn't sound like it's possible.

Am now in the process of re-installing.  I'm curious, is there a way to do in-place upgrades (without re-enrolling) outside of Fleet?  Running "elastic-agent upgarde 8.2.0" on a

[2022-05-05 03:04] libo7878 opened #405 "Problem with IP address in Apache access.log"
I have a windows VM in Azure with Application Gateway. In Apache access.log I see following lines:

11.22.33.44:60162 - - [03/May/2022:09:02:57 +0000] "GET /test.php HTTP/1.1" 200 5768 ...

Elastic Agent cannot parse this IP address with port information, because I found just port in Kibana without IP:

source.domain: 60162
source.address: 60162

<img width="733" alt="image" src="https://user-imag

[2022-05-05 07:57] mbudge opened #407 "Write logs to /var instead of /opt and other logging issues"
Testing the Elastic Agent on Red Hat Linux using Fleet we have encountered a few logging issues:

Logs are written to /opt/Elastic/Agent/data/ when they should be written to the /var filesystem. Writing logs to /opt can cause the filesystem to fill up or run out of inodes resulting in system crashes.

Even with "Collect agent metrics" setting disabled the logs fill with useless messages like "Non-

[2022-05-05 11:50] amolnater-qasource commented on #173
Hi @blakerouse @jlind23
We have tested agent upgrades on latest 8.3 Snapshot and had below observations:
- 8.2 released Windows and MAC agent upgraded to 8.3 Snapshot successfully.
- 8.2 released Linux .tar agent failed to upgrade and goes to Unhealthy state.
- 8.2 Snapshot Linux .tar agent upgraded successfully to 8.3 Snapshot.
- Further 7.17.4 Snapshot Windows, Linux and MAC agents upgraded succ

[2022-05-05 12:25] belimawr opened #408 "Configuration values from `agent.download` are ignored"
When trying to override any field from `agent.download` in `elastic-agent.yml`, the values from the configuration file are simply ignored. That makes the `DownloadConfig` struct from `configuration.SettingsConfig` never accepting any values other than the default ones.

I did a bit of digging and it seems to be related to the `httpcommon.HTTPTransportSettings` struct embedded into `artifact.Config

[2022-05-05 12:30] WiegerElastic commented on #173
@peasead made a comment [earlier today](https://elastic.slack.com/archives/C01QQ449KE1/p1651700665508719?thread_ts=1651690207.535119&cid=C01QQ449KE1) on how to fix this using a workaround.

[2022-05-05 13:28] belimawr opened #409 "HTTP Downloader leaves a file even when the download fails"
When the HTTP donwloader is downloading a file it first creates the file (and defers the file.Close()), then it tries to download it. The problem is that if the download fails (e.g status code != 200), the file is left empty in the filesystem.

You can see this behaviour on this small snippet: https://github.com/elastic/elastic-agent/blob/552a87d2760297ba2fe9b80e2dfb503d891e8ea4/internal/pkg/artif

[2022-05-05 17:46] peasead commented on #173
## Workaround

_Note:_ the `elastic-agent-xxxxxx` path will differ for your installation

**Windows**
- Download `elastic-agent-8.2.0-windows-x86_64.zip.asc` and `elastic-agent-8.2.0-windows-x86_64.zip.sha512` from the [Elastic Agent download page](https://www.elastic.co/downloads/elastic-agent)
- Place the files in `C:\Program Files\Elastic\Agent\data\elastic-agent-xxxxxx\downloads\`
- Run the Fl

[2022-05-07 04:09] KnowMoreIT commented on #173
I am having issues with this workaround. I download all three files as a test and make sure to set 640 permissions. After going to Fleet to upgrade it removes the files from the system.

[2022-05-07 11:43] peasead commented on #173
Don't download all 3. Just the `.asc` and `sha512`.

[2022-05-09 12:01] amolnater-qasource commented on #139
Hi @jlind23
We have revalidated installing MAC 12 agent on 8.3 Snapshot using `--delay-enroll` flag.
- Agent no longer goes to offline state on rebooting machine when installed with --delay-enroll flag.

**Build details:**
BUILD: 52512
COMMIT: df225b213b188c81888141cee2ec191424fc0649
Artifact Link: https://snapshots.elastic.co/8.3.0-5c1ff35f/downloads/beats/elastic-agent/elastic-agent-8.3.0-SNAPSH

[2022-05-09 12:01] #139 closed

[2022-05-10 06:41] rbrunan opened #416 "Elastic Agent standalone failed to recover from time-out on the k8s API server"
We are working on the synthetics project and using the elastic agent to gather all the needed metrics from the service and the cluster. We are on a GKE managed cluster and we are using this configuration for the elastic agent:
<details>

[code]

</details>

The elastic agent is working fine, reporting cluster metrics every 30s, till we have an error on the k8s API server communication:
[code]

Aft

[2022-05-10 08:55] rbrunan commented on #416
Pinging @elastic/obs-cloudnative-monitoring

[2022-05-10 10:27] amolnater-qasource commented on #81
Hi Team
We have revalidated this issue and found it fixed on latest 8.3 Snapshot Kibana cloud environment.
Detailed observations are shared on related PR at https://github.com/elastic/elastic-agent/pull/262

**Build details:**
BUILD: 52512
COMMIT: df225b213b188c81888141cee2ec191424fc0649

Hence marking this as QA:Validated.
Thanks

[2022-05-10 10:28] amolnater-qasource commented on #190
Hi Team
We have revalidated this issue and found it fixed on latest 8.3 Snapshot Kibana cloud environment.
Detailed observations are shared on related PR at https://github.com/elastic/elastic-agent/pull/262

**Build details:**
BUILD: 52512
COMMIT: df225b213b188c81888141cee2ec191424fc0649

Hence marking this as QA:Validated.
Thanks

[2022-05-10 15:53] ChrsMark commented on #416
cc: @mlunadia @rameshelastic for prioritising this accordingly.

[2022-05-11 07:40] jlind23 commented on #323
@cmacknz can I close this one in favour of https://github.com/elastic/beats/issues/31512
cc @ph

[2022-05-11 08:05] #323 closed

[2022-05-11 10:30] jlind23 commented on #257
ping @ph

[2022-05-11 11:14] amolnater-qasource commented on #337
### `Bug Conversion`

-  Testcase already exists for this scenario under Fleet test suite at link:
   - [C15282](https://elastic.testrail.io/index.php?/cases/view/15282)

Thanks!

[2022-05-11 11:16] amolnater-qasource commented on #230
### `Bug Conversion`

-  Testcase already exists for this scenario under Fleet test suite at link:
   - [C15282](https://elastic.testrail.io/index.php?/cases/view/15282)

Thanks!

[2022-05-11 11:23] amolnater-qasource commented on #245
### `Bug Conversion`

-  Testcase already exists for this scenario under Fleet test suite at link:
   -  [C34211](https://elastic.testrail.io/index.php?/cases/view/34211)

Thanks

[2022-05-11 11:25] amolnater-qasource commented on #275
### `Bug Conversion`

-  Testcase already exists for this scenario under Fleet test suite at link:
   -  [C34211](https://elastic.testrail.io/index.php?/cases/view/34211)

Thanks

[2022-05-11 11:29] amolnater-qasource commented on #281
### `Bug Conversion`

-  Testcase already exists for this scenario under Fleet test suite at link:
   -  [C35188](https://elastic.testrail.io/index.php?/cases/view/35188)

Thanks

[2022-05-11 11:31] amolnater-qasource commented on #335
### `Bug Conversion`

-  Testcase already exists for this scenario under Fleet test suite at link:
   -  [C150209](https://elastic.testrail.io/index.php?/cases/view/150209)

Thanks

[2022-05-13 22:42] andrewkroh opened #427 "Filebeat spec is incorporating Packetbeat inputs into its config"
When an agent policy contains the Packetbeat redis input, Elastic Agent is generating config for Filebeat that includes a redis log input. The policy for Packetbeat uses input `type: packet` with a data_stream of `type: redis`. For example:

[code]

The impact is that this causes Filebeat to report UNHEALTHY status if Packetbeat is deployed at the same time. A workaround is to disable redis collec

[2022-05-13 22:59] andrewkroh commented on #427
Filebeat's spec currently filters by input type, but it happens too late. If that filter is moved earlier it should fix the issue. Ideally inputs types destined for Filebeat would follow naming convention like the other Beats (Metricbeat uses `.*/metric`, Auditbeat uses `audit/.*`, Packetbeat uses `type: packet`, etc.).

[code]

[2022-05-16 08:40] ruflin opened #431 "[Discuss] Ship data to older version of Elasticsearch"
Elastic Agent has a limitation in place that only allows it to ship data to versions equal or newer of Elasticsearch. This is to reduce the compatibility matrix and keep it simpler. Having the version in sync was especially important for Beats that was also loading assets into Elasticsearch like templates and ingest pipeline which might contain feature not supported by older versions yet. But with

[2022-05-16 11:16] JamesShawUK opened #499 "ElasticAgent not pushing data through Proxy - Windows 2019"

[2022-05-17 08:09] #149 closed

[2022-05-17 10:25] simranvaseer-qasource commented on #404
Hi @bjmcnic
Thanks for the required information. We will implement this information in the future while reporting such type of bugs.

[2022-05-17 10:46] simranvaseer-qasource commented on #404
Hi @bjmcnic

Thanks for the required information. We will implement this information in the future while reporting such type of bugs.

[2022-05-17 13:20] AndersonQ opened #437 "Agent only restarts failed applications once"
The elastic-agent should restart any application that stays too long on a `FAILED` state. However it's happening only once, on the 1st failure.

When an application goes into `FAILED` state the agent starts a [_failed timer_](https://github.com/elastic/elastic-agent/pull/436/files#diff-b7d30769aecf71cb66dbfb9d8753b0764c1a9fc8f3fcb2c1239893dd0e08b5d0R56), which waits until time is out to restart th

[2022-05-18 09:17] jlind23 commented on #91
@pierrehilbert any progress here?

[2022-05-18 09:21] jlind23 commented on #276
@fearful-symmetry is this something you will take care of? Just asking as you are assigned to it.

[2022-05-18 15:45] TheRiffRafi opened #443 "Either set agent to unhealthy on output failure or provide sub-info on output failure"
**Describe the enhancement:**

The agent is still able to communicate with Fleet server, however, if we shut down connection to an output and no data is sent over the agent still reports as healthy.
For example, the Endpoint Security integration log is clearly trying to send data, but can't communicate as the output is unreachable.
We would expect the client health to change to Unhealthy as no det

[2022-05-18 17:06] blakerouse opened #445 "Process Control Protocol Server doesn't handle missed checked in from hybernation"
Currently the logic in the GRPC server-side of the Elastic Agent that tracks the check-in of processes uses timestamps. This works fine until the computer is hybernated. Once hybernated the time skew will be large, so large that on wake the Elastic Agent will mark all processes as FAILED.

https://github.com/elastic/elastic-agent/blob/main/pkg/core/server/server.go#L890

This needs to be fixed to

[2022-05-19 10:53] simranvaseer-qasource commented on #173
Hi Team
We have tested agent upgrades on latest 7.14.4 Snapshot and had below observations:
- 7.16.3 and 7.17.3 released Windows and MAC agent upgraded to 7.17.4 Snapshot successfully.
- 7.16.3 and 7.17.3 released Linux .tar agent failed to upgrade and goes to Unhealthy state.

**Build details:**
BUILD: 46906
COMMIT: b239a118b5da2f4393153d8beea04ca5516468d4

**Screenshot:**
![image](https://user-i

[2022-05-19 11:49] simranvaseer-qasource commented on #404
Hi @jlind23
We have revalidated this issue on 7.17.4 BC-1, 8.2.1 BC-1 and 8.3 snapshot and had below observations:

- For 7.17.4 BC-1 and 8.3 Snapshot, this issue is not reproducible. `Access denied` error is observed on killing agent service.
- For 8.2.1 BC-1, this issue is still reproducible.

**Build details:**
For 7.17.4 BC1
BUILD: 46909
COMMIT: a408358a8fc5671f5eb7985678a1733684441b37

For 8.

[2022-05-19 12:53] bjmcnic commented on #404
Grabbing the [Agent](https://staging.elastic.co/8.2.1-be579146/downloads/beats/elastic-agent/elastic-agent-8.2.1-windows-x86_64.zip) off this [page](https://staging.elastic.co/8.2.1-be579146/summary-8.2.1.html), it appears it's the same situation as I documented above.  Agent is not signed, Endpoint is signed:

![Screen Shot 2022-05-19 at 8 52 43 AM](https://user-images.githubusercontent.com/36130

[2022-05-19 13:19] ph commented on #404
@mgreau or @mdelapenya the elastic agent from staging should be signed too no?

[2022-05-19 13:56] ph commented on #257
@jlind23 This is interesting, I would have expected that is not a possible behavior, because the `default` is a key in a map and the last would have won. We should validate in Fleet UI, and Fleet-Server we shouldn't trust fleet.

@amolnater-qasource Do you have the generated agent policy yml from fleet, please remove any credentials.

[2022-05-19 19:02] #276 closed

[2022-05-20 08:41] dikshachauhan-qasource commented on #404
Hi @jlind23

As per us, there is a bug and **only reproducible on 8.2.0 released  and latest patch 8.2.1 BC build**. However, its working fine on other agent versions such as 7.17.x or latest 8.3.0 Snapshot.

So, we are expecting a fix for this on 8.2.0 released and latest patch 8.2.1 BC build.

We just only need a signed agent artifact on 8.2.0 released and latest patch 8.2.1 BC build, as @bjmcni

[2022-05-20 17:37] m-sample opened #459 "set hostPID:true in elastic-agent-managed-kubernetes.yaml"
**Describe the enhancement:**

Currently the Agent's managed Kubernetes YAML leaves "hostPID" unspecified so it defaults to false (https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#hosts-namespaces).   Please change it to "hostPID:true" to grant sufficient access to in-Pod Agent integrations/containers so they may perform their expected tasks.

The hostPID attribute ap

[2022-05-20 21:21] bjmcnic commented on #292
@ph Yes, I have encountered this issue recently.  Specifically while testing an 8.1.1 scenario.

[2022-05-20 23:12] norrietaylor commented on #459
/cc @qcorporation @lrishi @norrietaylor

[2022-05-21 16:41] al-ah opened #460 "How to adjust the number of primary shards for all indexes that are made by elastic agent?"
How to adjust the number of primary shards for all indexes that are made by elastic agent?

I do not want to use the component templates because there are so many templates that need to be changed. Does Elastic Agent have settings like index.number_of_shards like filebeat?

thanks

[2022-05-21 22:41] jdixon-86 opened #461 "Elastic Agent deployed with a https URL sets the protocol to HTTP instead of HTTPS."
Support ticket: #00961223

When deploying Elastic Agent's via fleet it appears that regardless of the URL it is setting the protocol to HTTP leading to unencrypted traffic. In my tests I have installed Elastic Agent on a Windows 11 laptop with the following command:

[code]

Furthermore the logs state it started enrollment using HTTPS instead of HTTP
`{"log.level":"info","@timestamp":"2022-05-21T0

[2022-05-23 01:57] davidchoi-aus commented on #461
Further update from the customer:

After digging into this further and involving some others on my side, I believe it actually is communicating with TLS even when the protocol is HTTP.

[2022-05-23 08:48] #88 closed

[2022-05-23 10:07] mtojek commented on #88
Awesome, thanks @AndersonQ!

[2022-05-23 10:07] amolnater-qasource commented on #257
Hi @ph
Please find below attached `elastic-agent.yml`:
[elastic-agent.zip](https://github.com/elastic/elastic-agent/files/8753397/elastic-agent.zip)

We have revalidated this issue on latest 8.3 Snapshot and found it **fixed** now.
- Agent remains Healthy on changing Default output to some other user created output.

**Build details:**
BUILD: 52935
COMMIT: 5d5603a57237d8fe9cf186916c713b9ddddf039d

[2022-05-23 10:07] #257 closed

[2022-05-23 19:35] jlind23 commented on #404
Hi @dikshachauhan-qasource
I may have missed something, the problem is coming from the agent binary not being signed which means that the "bug" fix is a ci fix instead, correct?

[2022-05-24 02:23] michel-laterman opened #464 "Track agent usage of contexts"
**Describe the enhancement:**

The agent uses `context.Background` in a few places. We should check to see if we can pass a context instead or use `context.TODO` in places where we should.

**Describe a specific use case for the enhancement or feature:**
Allowing proper contexts to be passed may allow us to cancel in-progress operations if they exceed a deadline or timeout

[2022-05-24 05:56] #393 closed

[2022-05-24 08:09] michaelhyatt opened #467 "Creating deployable collections of policies and applying. them to groups of targets"
**Describe the enhancement:**
It should be possible to create policy groups that include multiple policies applicable to the target infrastructure and then apply them to a host or a group of hosts, either pre-selected or based on dynamic criteria, such as OS type or version, cloud region, etc.

**Describe a specific use case for the enhancement or feature:**
This will allow an easier data collecti

[2022-05-24 09:36] jlind23 commented on #107
@ph shouldn't we close this one and rather rely on the liveness probe one?

[2022-05-24 09:56] jlind23 commented on #404
@mgreau @mdelapenya could you please answer ph comment: https://github.com/elastic/elastic-agent/issues/404#issuecomment-1131679191

[2022-05-24 13:19] #215 closed

[2022-05-24 13:43] al-ah opened #469 "Why does it say that fleet server is not healthy?"
Hey!
I have set up two elastic agents, one with a fleet server role. I do not know why the status of two agents is offline while both are healthy and receiving the log is done correctly:

![image](https://user-images.githubusercontent.com/41846701/170049698-10997215-1a30-49d8-9a2c-e05ced5dc0fb.png)

[2022-05-25 05:36] zez3 commented on #100
I've got the same abnormal behavior when I change the output. From ES default to a copy if my defaut + dead letters enable

[2022-05-25 08:05] ghost opened #473 "[Agent Upgrade]: Agents gets upgraded automatically after user abort the agent upgrade."
**Describe the bug:**
Agents gets upgraded automatically even after user abort the agent upgrade.

**Build Details:**
VERSION: 8.3.0-SNAPSHOT
COMMIT: c993ff2a4fa10898d5a6e15aeb1d0848534ae48e
BUILD: 53035
ARTIFACT LINK: https://snapshots.elastic.co/8.3.0-a497a6ef/summary-8.3.0-SNAPSHOT.html

**Preconditions:**
1. Elastic 8.3.0-SNAPSHOT environment should be deployed.
2. 8.2.0 or lower version agent

[2022-05-25 08:24] manishgupta-qasource commented on #473
Secondary review for this ticket is Done

[2022-05-25 11:25] gemaliano opened #474 "Fleet policy deployment on multiple Agents in a consecutive/sequenced 1by1 way"
**Describe the enhancement:**
Looking for a way for fleet policy on multiple underlying Agents in a consecutive/sequenced way

**Describe a specific use case for the enhancement or feature:**
Fleet policy that is configured on multiple Agents that needs some changes, but that change might break the agents health status.
We would like rollout of changes preferably waiting until each Agent is health

[2022-05-25 12:28] jlind23 commented on #241
@joshdover @ph as the package spec PR is now done, do we really need to do this intermediary step https://github.com/elastic/elastic-agent/issues/241#issuecomment-1118609895 Shouldn't we directly rely on the secret type?

[2022-05-25 12:59] joshdover commented on #241
We could still do the intermediate step as a stop-gap, but probably better to spend effort on the long-term solution.

[2022-05-25 13:01] ph commented on #474
@jen-huang @nimarezainia I think this should be move in kibana repository, this is some kind of canary deployment.

[2022-05-25 13:01] ph commented on #467
@nimarezainia @jen-huang I belive this should be move to Kibana repository.

[2022-05-25 13:02] amolnater-qasource opened #475 "[Question]: Confirmations on `Feature: Agent rolling upgrades`."
**Description:**
While testing on Agent rolling upgrades on latest 8.3 Snapshot we had few queries.

### Queries:

1. Agent can be downgraded from 8.2.1>8.1.1 However failed when upgraded from 8.2.1>7.17.3 and 8.1.1>7.17.3
Could you please confirm if this is expected?

2. If agent is downgraded from 8.2.1>8.1.1 and then attempted to downgrade to 7.17.3. Rather than staying on 8.1.1 on failure it g

[2022-05-25 13:02] amolnater-qasource commented on #475
@manishgupta-qasource Please review.

[2022-05-25 13:09] zez3 commented on #116
On linux I set the cgroup via systemd limits on the parent process(the Agent). All sub children will inherit this limit
eg.

[code]

[2022-05-25 13:16] manishgupta-qasource commented on #475
Secondary review for this ticket is Done

[2022-05-25 13:47] amolnater-qasource commented on #475
FYI @jlind23 @joshdover

[2022-05-25 18:53] ph commented on #241
I believe we should do this, the long-term solution would only be delivered on 8.x and won't be backported to 7.x. Since we will support 7.x for quite some time and use the _diagnostic_ subcommand time we should have that stop gab in and backported to 7.x.

[2022-05-25 19:02] ph commented on #292
@jlind23 @pierrehilbert I've moved that back to the inbox, we would need to do some investigation.

[2022-05-25 19:03] ph commented on #292
@blakerouse maybe something to keep an eye on when implementing v2.

[2022-05-25 22:25] michel-laterman commented on #475
I wasn't aware that the agent supported downgrades 😅.
Have we tested these workflows before? None of the upgrade action logic has changed with this feature on the fleet-server or elastic-agent side

[2022-05-26 08:13] nchaulet commented on #475
Have we tested these workflows before? None of the upgrade action logic has changed with this feature on the fleet-server or elastic-agent side

I do not think we should support downgrade neither it's probably a bug we introduced when allowing to select the version. This should be a bug to fix in Kibana.

[2022-05-26 08:48] amolnater-qasource commented on #475
Hi @michel-laterman

Thanks for the looking into our queries and providing your views.

Further, we would like to suggest that in above reported scenarios, as downgrading is not supported, so we should only display versions that are higher from the agent we are trying to upgrade.

@nchaulet
Please, let us know we we need to log a separate issue for this.

Thanks

[2022-05-26 10:04] nchaulet commented on #475
Please, let us know we we need to log a separate issue for this.

Thanks @amolnater-qasource I think that issue https://github.com/elastic/kibana/issues/132909 is already good enough

[2022-05-28 07:34] al-ah commented on #469
The problem is now resolved. The change I made was that I removed remote_cluster_client role from elastic ingest node.

[2022-05-28 07:34] #469 closed

[2022-05-29 16:34] zez3 commented on #474
The following might be also useful to solve first:
https://github.com/elastic/elastic-agent/issues/100
https://github.com/elastic/elastic-agent/issues/113
https://github.com/elastic/elastic-agent/issues/120

Let me better describe the ER open by Gema and our current use case:

3(or more to come) Agents running on 3 physical hosts(with more than generous cpu cores&ram each) using the same Fleet pol

[2022-05-30 13:03] al-ah opened #481 "What determines the maximum output speed (log per second) of the elastic agent?"
I am collecting Suricata logs on a server that has no shortage of hardware resources. The Suricata log has been in eve.json file since last night (approximately 1.5 million logs), but Elastic Agent processes about 30 logs per second at a very slow speed. I even came and launched another agent on another server at the same time and gave him the whole file to send the information, but the speed is t

[2022-05-30 13:33] criamico commented on #475
I'm closing this issue since the bug is already tracked in https://github.com/elastic/kibana/issues/132909

[2022-05-30 13:33] #475 closed

[2022-05-30 14:33] WiegerElastic opened #482 "[Enhancement Request][Agent] Show change log for integrations in Fleet."
**Describe the enhancement:**

I would like to be able to open up the change log for integrations from within the Fleet -> Integrations menu.

**Describe a specific use case for the enhancement or feature:**

Right now, if there is an update available for a specific integration, I do not have an easy way of finding out what the changes are that are related to this update. This means that I need to

[2022-05-30 17:05] pierrehilbert opened #483 "Elastic Agent - Contribution Guide"
**Describe the enhancement:**
The current CONTRIBUTING.md is for beats and not for Elastic Agent.

**Describe a specific use case for the enhancement or feature:**
Having one specific for Elastic Agent would make setup easier and reduce the time before being able to contribute.

[2022-05-30 18:19] narph commented on #82
Spent too much time on this one, just to circle back, when running:
[code]
it fails creating the container with:

[code]

I tried to create a small reproduction to validate `useradd` refuses to add the `elastic-agent` user to `root` group as claimed here: https://github.com/elastic/sdh-beats/issues/1603#issuecomment-1012408050.

[code]

Running `id` or `groups` under the `elastic-agent` account ne

[2022-05-30 18:53] jsoriano commented on #82
This is intereting, this might give a clue about how to reproduce this environment in a normal local docker. It seems they are using pause containers in Azure. These "`pause`" containers are a strategy used in container orchestrators to setup namespaces before starting the actual container, and maintain them if the containers unexpectedly die. The pause container would contain a single process, `/

[2022-05-30 19:00] jsoriano commented on #82
Update, I managed to reproduce the azure errors with a local docker using also random uids and gids:
[code]

I don't have a solution, but this may ease how to test this kind of environments locally and in CI.

[2022-05-31 08:23] aarju opened #484 "[Feature Request] Have Elastic Agent send a final message to its fleet server when making changes"
**Describe the enhancement:**
When the `elastic-agent enroll` or the `elastic-agent uninstall` commands are run the binary should send a final message to the current fleet server before enrolling with the new fleet server. The fleet server can use this command to change the status of the agent in fleet and to notify admins if an agent was unexpectedly uninstalled. Currently when the agent makes ch

[2022-05-31 14:04] narph commented on #82
@jsoriano , thanks , I am trying to test a potential solution but Azure container create apis are down(?), I am getting service unavailable. Hopefully it will back soon so I can test.

[2022-05-31 16:39] nimarezainia commented on #484
@aarju could you please elaborate on the issue with an example workflow that created the problem for you (and indeed if this is a bug that needs to be addressed). I don't see how say on an enroll we should be sending a "final" message to the current fleet server.

there seem to be a lot of duplicate agents in the screenshot attached. Could you explain the workflow that got you there - perhaps that

[2022-05-31 16:44] jlind23 commented on #427
@cmacknz it rather seems to be a data plane issue, am I wrong?

[2022-05-31 18:32] WiegerElastic commented on #482
Closed this in in favor of [#133250](https://github.com/elastic/kibana/issues/133250).

[2022-05-31 18:32] #482 closed

[2022-05-31 19:26] michel-laterman opened #486 "Review linter build tags"
Currently the linter flags some issues speciically when dealing with files and build tags that target different distributions.

For example in https://github.com/elastic/elastic-agent/pull/485:
<img width="580" alt="Screen Shot 2022-05-31 at 12 24 55 PM" src="https://user-images.githubusercontent.com/82832767/171268752-a398cbe6-ad01-4877-8c12-fd39368eb942.png">

is stating that there is no `vault.

[2022-05-31 22:35] nicpenning opened #487 "[Agent] Missing Digital Signature for Windows EXE🔏(8.2.0+)"
Please sign your Windows elastic-agent.exe.

The Elastic agent in the past was digitally signed in 7.16+ releases but I noticed it has gone missing in at least 8.2.0+
![image](https://user-images.githubusercontent.com/5582679/171294978-0bd5485c-f1ad-471d-ad56-b8039c8c7414.png)

For confirmed bugs, please report:
- Version: 8.2+
- Operating System: Windows

[2022-06-01 06:35] amolnater-qasource commented on #475
Hi Team
Thanks for the feedback and resolving our queries.
Further we will be tracking this issue under https://github.com/elastic/kibana/issues/132909 and will validate the agent upgrades on the same.

Thanks

[2022-06-01 07:51] rusqq opened #491 ""Network Packet Capture" v0.9.0 integration, no logs in dashboards"
**- Version:** Elastic 8.2.0, basic license, test environment, x-pack security enabled
**- Operating System:** Ubuntu 20.04 LTS
**- Discuss Forum URL:** https://elasticstack.slack.com/archives/C02J2JBS0FP/p1653995022687149
**- Steps to Reproduce:**

1. Add "Network Packet Capture" integration, version 0.9.0,
2. create a new policy or add it to existing one, enable "Packet Capture" and add some pro

[2022-06-01 08:33] barkbay opened #492 "8.3.0-SNAPSHOT Docker image is failing"
The [ECK CI pipeline detected](https://github.com/elastic/cloud-on-k8s/issues/5720) that the last `8.3.0-SNAPSHOT` Docker image (`sha256:40fb58829895eb07f7c16df1788639a715ba28cd8cc40ef5b4f7d3393522cbc7`) is failing.
I can reproduce the error with `docker run`:

[code]

I would like to know if the problem comes from the image itself, or from the way the image is started by the operator.
Thanks!
🙇

[2022-06-01 08:42] aarju commented on #484
@nimarezainia when agent runs an `enroll` command on an agent that is already connected to a fleet server it should send a final message to the current fleet server letting it know that a new agent id will be assigned and the current agent id is being removed. If you run the exact same `elastic-agent enroll` command multiple times it will get a unique agent id each time and cause multiple stale ag

[2022-06-01 08:52] aarju commented on #484
What would be nice to have is:
1. When `elastic-agent enroll` is run it checks to see if there is already a fleet server configured and if so it sends a final message show that it is being enrolled again
1. If the new fleet server is identical to the old server then it should keep its current agent id to keep from creating a duplicate agent in fleet
1. If the new fleet server is different to the c

[2022-06-01 11:07] narph commented on #82
The good news: azure container service is back online and the workaround here https://github.com/elastic/elastic-agent/pull/493 would have worked for the azure containers and OpenShift as well.

The bad news: due to https://github.com/elastic/elastic-agent/pull/398 which adds the checks if user is root https://github.com/elastic/elastic-agent/blob/main/internal/pkg/agent/vault/seed.go#L33 we get:

[2022-06-01 14:43] AndersonQ commented on #241
Another pattern would be _certificate_ or other terms we use for the ssl/certificates configuration

[2022-06-01 14:54] jlind23 commented on #184
@belimawr any learning around verification mode to share here? I remember you faced some issues with beats one or two releases ago.

[2022-06-02 07:09] belimawr commented on #184
Yes, it was pretty much the same situation.

Ideally Elastic-Agent would not set an empty string on `ssl.verification_mode`, however even though Endpoint is logging an error, it's also setting the verification mode to `full`, hence it's not a security issue.

@ph I agree we should explicitly set it. Either set it to what we (Elastic-Agent) considers the default or not serialise it into the YAMAL f

[2022-06-02 07:10] belimawr commented on #184
Just as a sanity check, @narph have you experienced any issues in the TLS behaviour? Or just the error/warning logs?

[2022-06-02 10:02] barkbay commented on #492
Might be related to https://github.com/elastic/elastic-agent/pull/495

[2022-06-02 10:47] narph commented on #184
@belimawr , we have not made any changes yet so I have not experienced any issues in the TLS behavior, only the validation errors in the endpoint logs.
Since empty string is considered `full` verification mode then I suggested using `full` as default instead of `` so we  were interested in the effects this change will have.

[2022-06-02 13:57] ph commented on #82
@blakerouse good point, this subcommand already "implies" the container profile I've mentioned before and run would be default environment.

[2022-06-03 08:21] michalpristas opened #508 "Investigate flaky test"
tests are failing on adding system/* to a policy

[code]

[2022-06-03 08:45] jlind23 commented on #508
@michalpristas don't you think this is a duplicate of: https://github.com/elastic/e2e-testing/issues/2481